[2016-01-07 15:36] asaunier opened #1 "External use of Discourse"
Discourse is used for instance to show avatar and MP indicator in UI app (it means that the user must be also authenticated in Discourse when browsing the UI).

[2016-01-07 15:41] asaunier opened #2 "Have similar navigation menu as in UI + logo"
At least the discourse page header will be customized to show the logo and the navigation bar/menu (if possible the same header than in UI).

[2016-01-07 15:45] asaunier opened #3 "Migration of v5 forum (PunBB) to Discourse"
See for instance:
https://shellycloud.com/blog/2013/12/migrating-polish-ruby-on-rails-forum-from-punbb-to-discourse

![screencapture-shellycloud-com-blog-2013-12-migrating-polish-ruby-on-rails-forum-from-punbb-to-discourse-1452181492380](https://cloud.githubusercontent.com/assets/1192331/12174629/107934e2-b55e-11e5-9640-2497b02dab1b.png)

[2016-01-13 11:07] stef74 opened #4 "Localization for discourse"
Could you add localization FR,IT,DE,ES for discourse ?

I don't know if localization is defined on user level or forum level. It's seem theye have per-user-locale site setting.

For C2C association test it's better french is enable.

[2016-01-14 16:12] stef74 commented on #3
https://meta.discourse.org/t/redirecting-old-forum-urls-to-new-discourse-urls/20930

[2016-01-14 16:23] asaunier commented on #3
Thanks @stef74 for the tip!

By the way I have taken a quick look at import scripts provided by Discourse. PunBB is actually supported:
https://github.com/discourse/discourse/blob/master/script/import_scripts/punbb.rb
but the script heavily relies on mysql.

On the other hand the script quoted in the article above ("forum2discourse") seems to suppport postgresql as the import source:
https://githu

[2016-01-14 16:32] stef74 commented on #3
@asaunier i'm not sure but migrate only structure and data of current forum to mysql is not a mess. You can easly export the structure ... and for data a simple flat file export of each table can be enough. Some tool can exist probably.

[2016-01-14 16:33] stef74 commented on #3
http://punbb.informer.com/forums/post/116375/#p116375

[2016-01-18 09:05] gberaudo opened #5 "Seamless SSO"
The login and logout processes should be as integrated as possible.
- [x] logging into the UI logs the user in the forum (the forum cookie is set);
- [x] logging out of the UI logs the user out of the forum;
- [x] logging out of the forum logs out of the UI.

A topic was open on discourse to get advices on the available possiblities:
https://meta.discourse.org/t/sso-login-from-main-site-backend/37

[2016-01-18 09:52] gberaudo commented on #5
In order to be authenticated on the forum, some cookies must be set by the
forum into user's browser.

Try 1: handle setting cookies in API backend:
- handle forum login entirely inside the API backend;
- Proxy back the `Set-Cookie` to the UI.
  In order to handle subdomains (api, ui and forum), the `domain` property need
  to be set on the cookie, making it shared between all subdomains.
  Strang

[2016-01-19 10:31] asaunier commented on #5
Having domain-wide cookies might be a problem since other instances of the UI/API/forum will probably be set for test/dev purposes on the same domain (and would share the cookies then...).

[2016-02-03 21:41] asaunier commented on #3
Examples for discussions in PunBB with quite advanced formatting:
http://www.camptocamp.org/forums/viewtopic.php?id=114794 (bbcode relativement classique)
http://www.camptocamp.org/forums/viewtopic.php?id=116261
http://www.camptocamp.org/forums/viewtopic.php?id=251192 (images internes, liens internes et externes)
http://www.camptocamp.org/forums/viewtopic.php?id=258183 (vidéo externe)
http://www.c

[2016-02-05 10:07] gberaudo opened #6 "Anonymous posting"
There seems to be no way to post in Discourse without having an account.
However, when logged in, it is possible to switch to an `anonymous` mode.

See https://meta.discourse.org/t/how-will-anonymous-posting-mode-work/25370

[2016-02-05 10:53] asaunier commented on #6
Thanks, I have notified the clients of this issue (?). Will let them investigate if needed.

Does this mean that all migrated message not related to an account in v5 will be bound to that System user?

[2016-02-05 13:21] gberaudo commented on #6
Yes, it seems so.

[2016-02-17 15:42] fbunoz opened #8 "Forum migrating : bad use of V5 pseudo"
In discourse, the pseudo is the login, and is limited to 20 alphanum characters (without space, accents, ...).
But in V5, the pseudo is not the login, and can be longer than 20 char, with space en accents.

Then, in the test forum, in a post the poster name is the V5 login instead of V5 pseudo.

The solution is to change the field showed as poster name (anywhere it is visible in discourse) : use t

[2016-02-17 15:57] fbunoz opened #9 "Forum migrating : bad post ID and quote infos improvement"
**Bad post ID**
The forum migrating has not keep the V5 post ID but has renumbered the ID. Then, a link to a specific post will be broken (any link : in a post, in the quote header, in the topoguide, on an external site, etc).

**Quote improvment**
More over, the quote tag migrating has not kept the post ID.
The post ID is not managed yet in discourse, but it will have to be.
A post has already a

[2016-02-17 16:22] fbunoz opened #10 "Forum migrating : the number of user responses is always 0"
During the forum migrating, the number of posts of each user has not been migrated.
PunBB counts only the number of posts, whereas Discourse counts the topics (the user has posted the first post of a topic) and the responses.
We can copy the PunBB user post count to discourse user response count.

[2016-02-17 16:26] asaunier commented on #10
What about directly updating the post count after migrating the messages?

[2016-02-17 17:23] fbunoz opened #11 "Forum migrating : the post IP address has not been migrated"
Discourse does not store the IP address for each post. Only the last IP address used by an user, and the regsiter IP (but unused in V6 ?), are stored.
But the French law requires that the IP address must be stored during one year.
Moreover, it is useful for moderators, despite the common IPs, the redistributed IPs, and the TOR IPs.

IP features will evolve in discourse :

https://meta.discourse.or

[2016-02-17 17:44] fbunoz commented on #10
The post count include deleted posts.
But if it is easier to update the post count, it is OK.

[2016-02-19 08:59] asaunier opened #12 "Add custom header to Discourse"
The header/navigation menu should, as much as possible, be consistent with the UI site.

[2016-02-23 22:32] fbunoz opened #13 "Forum migrating : miss data for topic subscription"
The data which stores that an user is suscribed to a topic, has not been migrated.
This data must be migrated as "watching" level of the topic survey (higher level).

[2016-03-01 11:59] asaunier commented on #4
I wonder what we can do to make sure the discourse interface is loaded with the lang previously used by the user in the UI and if it is possible to change the interface lang by some link in the header (as in the UI), not only in the users' preferences.

[2016-03-01 12:01] asaunier commented on #5
@gberaudo can we update the todo list at the beginning of this issue?

What about the logout in Discourse pages? We need that the user is then also logged out from the UI.
See https://github.com/c2corg/v6_ui/issues/203#issuecomment-190128242

[2016-03-01 12:04] asaunier commented on #6
The client is not very found of the "anoymous posting" feature and will probably disable it.
Anyway it seems we don't have to do anything about this issue. Closing then.

[2016-03-01 12:04] #6 closed, assigned to nobody

[2016-03-01 12:14] gberaudo commented on #5
See https://meta.discourse.org/t/discourse-sso-logout/28509

[2016-03-01 12:18] asaunier commented on #5
Could you summarize? I don't have the patience to read the thead :P

[2016-03-01 12:55] gberaudo commented on #5
There exists a redirect URL setting for logout. We can use it to redirect to the UI, handle the UI logout and redirect back to the forum.

[2016-03-01 12:55] gberaudo commented on #5
The alternative is to hide the forum login/logout buttons with CSS.

[2016-03-01 13:12] asaunier commented on #5
That's not very intuitive to have to go to another page (UI) to be able to log out.

[2016-03-01 13:37] tsauerwein commented on #4
Can we change the user language using the Discourse API, @gberaudo?

[2016-03-02 12:50] #5 closed, assigned to nobody

[2016-03-02 13:08] gberaudo commented on #8
Hi @fbunoz. Here is how it was implemented:
https://github.com/c2corg/discourse/blob/70d193523f4745de394ffce58884c6278a7b7398/script/import_scripts/punbb.rb#L67-L68

Do you suggest it should be changed to use the `topo_name` column instead of `username`?

[2016-03-02 13:26] gberaudo commented on #13
Subscription in punbb:

[code]

Subscription in Discourse:

[code]

[2016-03-02 13:39] gberaudo commented on #10
In punbb: app_users_private_data.num_posts.
In discourse: user_stats.post_count.

[2016-03-02 13:45] gberaudo commented on #11
I think it is better to keep the discourse database structure as-is.
The IP address of the punbb posts will be available in the latest punbb dump.
When the feature comes to discourse and the database is upgraded, it will be
easy to read the dump and insert the IPs in old posts.

Thoughts on this @asaunier?

[2016-03-02 13:49] gberaudo commented on #1
Alternatively, we might want to generate a discourse API key for the user and use it from the UI
to extract informations from discourse on behalf of the user.

[2016-03-02 13:50] gberaudo commented on #12
Duplicate of https://github.com/c2corg/v6_forum/issues/2.

[2016-03-02 13:50] #12 closed, assigned to nobody

[2016-03-02 13:50] asaunier commented on #11
I also think it is better to keep Discourse DB untouched.

[2016-03-02 14:32] asaunier commented on #1
You mean that the `user` directive in the UI could make a request to the Discourse API to get the user's avatar for instance?

[2016-03-02 14:46] gberaudo commented on #9
This would be complex.

**Different post IDs**
This may be tricky as there exists some invalid posts that are skipped
during import and that would shift subsequent ids.

**Quote improvment**
This would require extracting quotes from message bodies and:
- find associated v5 topic and then discourse topic;
- find the position of the post in the topic;
- replace v5-style quote by new discourse-style

[2016-03-03 14:12] gberaudo commented on #4
It is possible to choose the default localization and allow user localization in discourse admin page.
There is a `lang` attribute in the `html` tag but it does not match the chosen language. After selecting
Deutsch the attribute is `fr` (the default language)...

Unfortunately, using the Discourse API, even if available, would not work for visitors without account or logged out.
- Discussion abou

[2016-03-03 14:24] gberaudo commented on #2
It is possible to inject HTML and CSS content in discourse directly from the admin page.
This is very simple and there is a guide here: https://meta.discourse.org/t/best-way-to-customize-the-header/13368/4. It is also possible to inject tags (scripts, css) in the document head tag.

An issue is to handle localization (there seems to be no way to detect the document language).

[2016-03-03 17:20] asaunier opened #14 "Forum migrating : names of guest posters"
With the current state of the migration tool, old messages posted as guest are affected to user "System" (the guest poster pseudo is no longer displayed).

The solution suggested by @gberaudo seems OK for the association: prefix those messages by some mention like `Posted as guest by <pseudo>`.

Nice to have: use a localized prefix depending on the language of the discussion (perhaps it can be det

[2016-03-03 17:26] gberaudo commented on #1
Maybe not for avatars as it is probably public information. But yes for MP.

[2016-03-04 13:39] gberaudo commented on #14
Handled in branch https://github.com/c2corg/discourse/tree/import_punbb.

[2016-03-04 13:39] gberaudo commented on #8
Handled in branch https://github.com/c2corg/discourse/tree/import_punbb.

[2016-03-04 13:47] gberaudo commented on #13
I checked with user `alex` and all cases look correct:
- created the topic: http://c2cpc34.camptocamp.com:3000/t/test-de-linstance-de-test/12009 and http://c2cpc34.camptocamp.com:3000/t/champs-des-documents-du-topoguide/10969/51
  -> "Vous recevrez des notifications car vous avez créé ce sujet."
- replied to a post: http://c2cpc34.camptocamp.com:3000/t/non-a-la-moderation-abusive-menfin/12018 and

[2016-03-04 15:38] gberaudo commented on #4
@stef74, I have added the accept-language plugin to http://c2cpc34.camptocamp.com:3000/admin/plugins. The plugin will automatically detect the language of the browser and adapt the forum language, even when the user is not connected.

[2016-03-04 15:46] gberaudo opened #15 "Redirect old forum URLs"
https://meta.discourse.org/t/redirecting-old-forum-urls-to-new-discourse-urls/20930
#3

[2016-03-04 16:01] gberaudo commented on #10
@fbunoz, I have checked http://c2cpc34.camptocamp.com:3000/users?order=post_count&period=all and it seems realistic: there are both stats for the number of topics created (sujets) and the number of posts (réponses). The max count of `réponses` is 1000, which makes sense for an import of 5% of the posts.
Please reopen if I missed something.

[2016-03-04 16:01] #10 closed, assigned to nobody

[2016-03-04 16:03] stef74 commented on #4
I have stack trace error messsage ...
No route matches [GET] "/admin/plugins"

2016-03-04 16:38 GMT+01:00 gberaudo notifications@github.com:

[2016-03-04 16:10] gberaudo commented on #9
`Quote improvement` handled in branch https://github.com/c2corg/discourse/tree/import_punbb.
`Different post IDs` should be handled globally in #15.

[2016-03-04 16:10] #9 closed, assigned to nobody

[2016-03-04 16:14] gberaudo commented on #4
You must be connected as admin to access the plugins list and configuration.

[2016-03-04 16:25] gberaudo commented on #2
There is a way to handle localization: the `I18n.locale` javascript variable contains the current language.
It is doable to check this value to choose the correct menu translation.

[2016-03-05 08:59] asaunier commented on #10
Is it an admin only page? I keep being redirected to Discourse main page when loading this URL.

[2016-03-05 09:09] asaunier commented on #14
Cool thanks a lot!

To make it clearer that it's not part of the original message, perhaps you could add a blank line between it and the message. Perhaps also add some italic tags as well?

[2016-03-05 10:17] asaunier opened #16 "Logout"
Logging out in discourse now works as expected (logged out in UI as well).
I notice that when clicking the "Log out" button in Discourse, the auth page is briefly displayed before being redirected to Discourse main page. Would it be possible to skip the auth page?

[2016-03-05 22:02] gberaudo commented on #14
There is already a new line. Did you missed the `\n`?

[2016-03-05 22:06] gberaudo commented on #10
Not for admin, but for connected users.

[2016-03-05 22:11] gberaudo commented on #16
We must redirect to some page of the UI to trigger the loggout.
We do not have to use the auth pas; it would be possible to create ad dedicated page.

[2016-03-07 09:36] gberaudo commented on #2
POC of a floating side menu localized depending on the current locale.
It can be imported in Discourse through Admin->customize->css/html->import.

[code]

[2016-03-07 09:56] gberaudo commented on #15
@mfournier, @asaunier should the mapping be done in Discourse or using a proxy like nginx?

[2016-03-07 10:02] gberaudo commented on #14
@asaunier, there is now also italics.

[2016-03-07 10:02] #14 closed, assigned to nobody

[2016-03-07 15:01] gberaudo commented on #1
For avatars, it would be easier to do it the other way: having Discourse take the avatar from the UI.

[2016-03-07 16:03] asaunier commented on #14
I have noticed it, but `\n` only makes the following content appear on the next line, not after a blank line, doesn't it?

[2016-03-07 16:07] asaunier commented on #1
What avatar from the UI?
There is no plan to add an avatar in the UI.

[2016-03-07 16:15] asaunier commented on #15
What do you think?
If it comes out of the box in discourse, it's probably easier to use Discourse.
But what about performances?

In the topic you have pointed someone asks:

but I have not read the topic...

[2016-03-07 16:25] gberaudo commented on #15
Yes, my question is about performance: do we plan to have an nginx or alike as fronted?

[2016-03-07 16:27] gberaudo commented on #15
I read somewhere that the discourse docker image uses nginx internally. But not sure if it would be
good practice to reuse it or if it is better to handle that outside of the image.

[2016-03-07 16:29] gberaudo commented on #14
I understand what you mean now. Will it not waste space, especially on small screens?

[2016-03-07 16:59] asaunier commented on #14
I don't think that's a problem. It doesn't "waste" that much space and is much clearer. Anyway people will have to scroll to read the thread.

[2016-03-08 11:31] asaunier opened #17 "Make sure the email is updated in discourse DB when changed in UI"

[2016-03-08 14:05] gberaudo commented on #13
Closing, @fbunoz feel free to reopen if there is any new information.

[2016-03-08 14:05] #13 closed, assigned to nobody

[2016-03-08 14:06] gberaudo commented on #11
Closing, @fbunoz feel free to reopen if there is any new information.

[2016-03-08 14:06] #11 closed, assigned to nobody

[2016-03-08 14:12] asaunier commented on #16
@gberaudo told me that one must be redirected to a UI page in order to be logged out in the UI. Then the user is redirected to the forum.

Closing.

[2016-03-08 14:12] #16 closed, assigned to nobody

[2016-03-08 14:20] gberaudo commented on #3
We chose to rework the official punbb migration script. This is done in
https://github.com/c2corg/discourse/blob/import_punbb/script/import_scripts/punbb.rb

[2016-03-08 14:20] #3 closed, assigned to nobody

[2016-03-09 09:39] gberaudo opened #18 "Migrate restricted categories permissions"

[2016-03-09 13:00] gberaudo commented on #18
@fbunoz, I am investigationg if it is possible to migrate the punbb groups and permissions to discourse.
I found the punbb_groups table, but not where it was associated to forum categories.

Do you know where it is done?

[2016-03-09 13:30] gberaudo opened #19 "Embedding discourse for document comments"
See https://github.com/c2corg/v6_ui/issues/219

[2016-03-09 13:43] fbunoz commented on #9
Why is it not pssible to simply use the punbb id as discourse id instead
using a counter ?
Missing id is not a problem in discourse BD, because we can remove posts
and topics in discourse, and their id will miss without breaking anything.

Le 2 mars 2016 15:46, "gberaudo" notifications@github.com a écrit :

[2016-03-09 14:39] fbunoz commented on #18
The forum permission for each group are set in forum_perms table.
There is one line for each (forum_id , group_id). But each group has
default permissions, and the forum permissions for a group, which are
identical to the default permissions of the group, are not stored.

The user group is set in users table.
Le 9 mars 2016 14:00, "gberaudo" notifications@github.com a écrit :

[2016-03-09 14:39] gberaudo commented on #9
It would require messing with the migration base classes provided by Discourse.

[2016-03-09 14:52] gberaudo commented on #18
Thanks, but how does a user is associated to a group?
Is it the `moderator` column of punbb_forums?

[2016-03-09 14:59] fbunoz commented on #18
An user is associated at a group by setting the group id in the group_id
column of the users table (line : id = user id).
Le 9 mars 2016 15:52, "gberaudo" notifications@github.com a écrit :

[2016-03-22 16:00] fbunoz commented on #8
If I understand correctly, in the V6 (topoguide), there are the login (non editable) and the full name (editable).
For the migrating, the Discourse nicknames are derived from V5 login, or V5 forum_name, or V5 topo_name (we must decide which name will be used).
An user can't change the Discourse nicknames using discourse profile (the fields are not editable).
But I don't understand if the Discourse

[2016-03-22 16:03] fbunoz commented on #10
I checked, and the counts are OK.

[2016-03-22 16:39] gberaudo commented on #8
I checked the Discourse SSO guide and it seems it is OK to change the username and full name afterwards.

[2016-03-22 16:41] gberaudo commented on #8
However, it will probably not rewrite the `@user` links in the messages.

[2016-03-22 16:47] gberaudo commented on #8
I tried to change my pseudo on the assoce instance (no sso, just plain Discourse).
It was not possible as a normal user. As a admin I get the following message:

[code]

I guess the problem will also occur with SSO.

[2016-03-22 17:16] fbunoz commented on #8
I think it's not a problem if the @pseudo are broken :
- The link to the profile which is on "@pseudo" is lost : not a problem.
- The subscription to a topic where the old pseudo is quoted, is keeped.
- I don't understand what "toutes les citations de vos messages seront cassées" means. I see no difference in quote functionnalities if I change the pseudo in the quote tag.

[2016-03-22 18:25] fbunoz commented on #14
The prefix sentence for guest posters can be translated to the forum language, which can be found in the forum field : punbb_forums.culture (which can contain : fr it en de es ca eu)
https://github.com/c2corg/camptocamp.org/blob/master/data/sql/tables/punbb.sql.in#L123

[2016-03-22 18:53] fbunoz opened #20 "Post migrating and parser improvment"
It is not useful to remove unsupported BBcode tag. Today, only the [video] tags are removed.
The post parser will be improved by the assoce to support [video] tags and others V5 tags.

If you want to improve the parser, the V5 post parser is here :
https://github.com/c2corg/camptocamp.org/blob/master/web/forums/include/parser.php#L997
The sub functions are defined in the same file.

[2016-03-22 19:47] fbunoz commented on #8
Then, if is possible to change the Discourse username and full name via V6 UI (using Discourse SSO), it means that the V5 login, V5 forum_name and V5 topo_name can be migrated :
- V5 login => V6 login
- V5 forum_name => Discourse username (after changes by migrating script to remove accents and to uniquify the usernames)
- V5 topo_name => V6 full name and Discourse full name

Is it possible ?

[2016-03-22 21:35] fbunoz commented on #18
I create a branch to commit some changes on user groups migrating scrpt :
https://github.com/c2corg/discourse/commit/0e3ba925aeeb6e2c75c6fa9e9351b1062cd2ca2b

[2016-03-23 07:06] asaunier opened #21 "Storage of uploaded images and avatar"
If Discourse is installer in a Docker container, where would the images uploaded in the posts and the users avatars be stored? They must be saved in a permanent storage, unlike a Docker container.
Does Discourse support S3 storages for instance?

[2016-03-23 08:52] gberaudo commented on #18
Thanks @fbunoz for the commit. It looks good.

[2016-03-24 08:26] gberaudo commented on #8
Seems doable to me. We would need some UI for changing pseudo; @asaunier, any opinion?

[2016-04-05 16:59] gberaudo opened #22 "Duplicated usernames and login_names in v5"
The username and login_name fields are not unique in v5 as can be shown by the following 2 requests:

[code]

-> 42 results

[code]

-> 48 results

It is essential that the v5 database be fixed so that we can import in the topoguide and in Discourse
robustly and consistently.@fbunoz, could you please have a look to this?
- [ ]  the fields should be made unique (maybe by suffixing older accounts);

[2016-04-05 17:00] gberaudo commented on #8
@fbunoz, could you confirm the v5 forum_name is the `username` column of the punbb_user table?
Also see https://github.com/c2corg/v6_forum/issues/22

[2016-04-05 17:20] gberaudo commented on #22
edit: deleted in favor of full solution in the comment below.

[2016-04-06 12:34] fbunoz commented on #8
@gberaudo : yes, the V5 forum name is the punbb_users.username field.

[2016-04-06 13:01] gberaudo commented on #8
Thanks for the confirmation @fbunoz.

[2016-04-07 11:37] gberaudo commented on #22
I created a small sql script that:
- makes the `login_name` unique;
- replaces the `username` column with a normalized and unique version compatible with Discourse;
- adds constraints to the `login_name` and `username` columns.

Discourse has complicate rules for handling non-alphanumeric characters; this script reduces the complexity by completly discarding them.

The script must be reviewed and

[2016-04-07 21:09] brunobesson commented on #22
(I think intagg extension is missing too?)

Anyway, I ran the script on punbb_users table from a local copy of production server (only the relevant table punbb_users, don't be afraid!)

There seems to be a user with null username (id 310193 > http://www.camptocamp.org/users/310193/fr). That case should be handled (manually!)
Otherwise, there is no duplicate after processing the data. There are 178

[2016-04-07 21:38] fbunoz commented on #22
The username size limits should be changed : the allowed size is between 2 and 25 characters.
I'll change the script to alllow '_-.' in username with discourse rules.
Moreover, I think we can try to allow current accent characters (needed minor changes in discourse). The choice to forbid accent is only ideologic, with the bad choice to use the username in profile url without ID. In V6, the profile

[2016-04-08 06:43] jmarcmod commented on #22
Ce pseudo n'est pas vide, il est constitué d'un espace. Il a été créé par les modérateurs forum, pour que personne d'autre ne puisse le prendre (un petit malin l'avait fait avant nous, et on avait supprimé le compte).
Il ne servira à rien sur la V6 (puisque les espaces sont interdits), on peut donc l'oublier.

Autre remarque : si en apparence il y a des doublons sur la V5, c'est à cause des espace

[2016-04-08 08:17] gberaudo commented on #22
Discourse has complicate rules for the special characters (_ . -).
No special character at the end of the username.
No successive special characters.
No "confusing" extenstion ath the end of the username.
So , it:
- allows `gui-llaume`, `gui.llaume`, `gui.llau.me`, `gui_llaume`;
- but forbids `gui--llaume`, `gui-_llaume`, `guillaume_`, `guillaume.txt`...

The main issue is how to normalize existin

[2016-04-08 08:28] gberaudo commented on #22
There is an additionnal restriction in Discourse: the usernames should be unique regardless of the case.
So having both `guillaume` and `Guillaume` is not allowed and the attached script should be updated.

[2016-04-08 15:01] jmarcmod commented on #22
Merci gberaudo.

La discussion est lancée :
http://www.camptocamp.org/forums/viewtopic.php?id=289198

[2016-04-09 06:45] jmarcmod commented on #22
2 questions:
- L'espace est bien un caractère interdit ? point crucial car c'est peut-être le caractère spécial le plus utilisé pour les pseudos V5.
- Quelles sont les extensions interdites, outre .txt ? il y a une liste ?

[2016-04-09 12:36] gberaudo commented on #22
@jmarcmod, no space; you can find all the rules in https://github.com/discourse/discourse/blob/be3a5a56ccc284b352aa65080fc6b955f73cc72a/app/models/username_validator.rb.

[2016-04-13 11:59] fjacon commented on #1
What is the status of this issue ?
Can we close it ?

[2016-04-13 12:03] gberaudo commented on #17
Handled in https://github.com/c2corg/v6_api/pull/211

[2016-04-14 09:29] #17 closed, assigned to nobody

[2016-04-28 12:31] #1 closed, assigned to nobody

[2016-04-30 09:44] jmarcmod commented on #22
Désolé pour cette longue absence, suite au décès de mon père.
Pour la migration des pseudos, j'essaye de synthétiser les souhaits de l'Association pour le milieu de semaine prochaine (avant l'Ascension).

[2016-05-02 08:49] gberaudo commented on #22
Mes condoléances. Merci pour ta persévérance, je regarderai ça probablement après le pont.

[2016-05-10 07:59] gberaudo commented on #21
For information, there are drawbacks using S3: https://meta.discourse.org/t/amazon-s3-is-not-deprecated-in-1-3-for-image-attachment-storage/26594/108.

[2016-05-10 08:19] asaunier commented on #21
Concerning the images uploaded in the forum posts, is it possible to use a third-party image hosting service? For instance in v5, the images are hosted on http://imgur.com/

[2016-05-11 13:40] fjacon commented on #20
Post messages are now kept unmodified.

[2016-05-14 11:22] asaunier opened #23 "Configure Discourse with the demo instance"
As for now the login/logout and username sync does not work between the UI demo instance and the Discourse demo instance.

@gberaudo I have probably missed some config but I am not sure what I should do. Is there a doc somewhere?

[2016-05-17 07:56] asaunier commented on #23
Seen in the apache logs:
- when logging out

- when logging in

[2016-05-17 11:07] gberaudo commented on #23
Opened https://github.com/c2corg/v6_api/pull/289.

[2016-05-17 11:07] #23 closed, assigned to nobody

[2016-05-18 10:36] fjacon commented on #18
Can we close this issue ?

[2016-05-18 11:39] #18 closed, assigned to nobody

[2016-05-18 11:42] gberaudo commented on #18
The permissions are migrated in a very coarse grain: the public forums stay public, all other forums are made private by the migration script. In addition, users are associated to groups.

In a second step, using the Discourse administration interface, the group permissions for each forum are set.

[2016-05-30 15:43] gberaudo opened #24 "Issues with first full import"
A first import of the v5 data was conducted. It took a long time ~10 days and there are many issues.
The data was imported in a dedicated instance of Discourse and then dumped and imported in the Docker instance of Discourse.

Issues:
- [x] Quoted posts images are using hard coded urls `localhost:3000`;
- [x] Categories seem to create a post whose id conflicts with v5 ones (see one-one rule for po

[2016-05-30 15:45] gberaudo commented on #15
http://blog.haproxy.com/2015/01/26/web-application-name-to-backend-mapping-in-haproxy/

[2016-05-30 15:47] gberaudo commented on #21
All dynamic data is stored in /var/discourse/shared/standalone/ and mounted inside the container.
This includes uploaded images and also postgres, redis, backups, logs...

[2016-05-30 15:49] gberaudo commented on #21
Regarding imgur, it seems there is/was some automatic integration inside Discourse. This need to be checked. https://meta.discourse.org/t/til-discourse-can-embed-imgur-albums-and-galleries/27406

[2016-05-30 20:27] jmarcmod commented on #22
Décidément le temps m'a manqué...
Voici enfin la synthèse de nos réflexions
(en espérant n'avoir pas fait trop d'erreurs).

### Règles de formatage des pseudos sous Discourse

**Caractères autorisés: 2 groupes**
- groupe A = alphanumériques = lettres (non accentuées) et chiffres i.e.   A..Z | a..z | 0..9
- groupe S = spéciaux underscore, tiret, point i.e.   _ | - | .

NB: les lettres sont insensib

[2016-05-31 05:53] jmarcmod commented on #24
Merci, je vais regarder ça de près !

[2016-05-31 09:15] fbunoz commented on #24
A solution is :
- modify the topic and posts counters before creating the categories (set them to a value higher than the last v5 topic and post)
- create the categories
- migrate the posts and topics (which doesn't need the counter value if the migrating set the v5 ID directly).

The admin right seem not to be migrating (I don't have the admin right).

[2016-05-31 09:23] asaunier commented on #24
By the way is the migration script supposed to propagate the "moderator" rights? Does this role actually exist in Discourse or is it the same than "admin"?

[2016-05-31 10:05] fbunoz commented on #24
I don't know what the script do exactly.
But there are admin and moderators in discourse (as in any forum application).

[2016-05-31 10:09] gberaudo commented on #24
The script is supposed to migrate admins and moderators. @fbunoz, I granted you admin rights manually.
Adding this to the `to investigate` list.

[2016-05-31 10:58] jmarcmod commented on #24
Mes droits modérateurs V5 n'ont visiblement pas migré.

Par ailleurs j'ai pu me connecter avec mon identifiant V5 (jmc) et mon mot de passe V5, mais alors que sur le précédent forum de test mon pseudo discourse était jmc, là c'est jmc2 (sur les anciens posts comme sur les nouveaux). Pourquoi ?

[2016-05-31 11:31] gberaudo commented on #24
@jmarcmod, après normalization, si plusieurs utilisateurs ont le même pseudo, ils sont rendus uniques avec un compteur.

Dans v5 tu as quels droits de modérations? J'ai vérifié ton group_id dans la base v4 et il vaut 4.
38 personnes ont été ajouté au groupe `Modo_Topoguide` de Discourse.

[2016-05-31 12:01] jmarcmod commented on #24
OK, j'avais oublié que mon login n'était unique que selon les règles V5.
A ce propos pour le moment le pseudo Discourse reste issu du _login_ V5, et non du _pseudo forum_ V5, comme nous le souhaitons au final.
J'ai synthétisé notre proposition de migration ici: https://github.com/c2corg/v6_forum/issues/22#issuecomment-222550729 dans le but justement qu'à la prochaine version, les nouveaux pseudos

[2016-05-31 13:25] gberaudo commented on #24
OK. Oui merci, je vous ferai un retour prochainement.

Seuls les groupes principaux (avec le plus de personnes) sont créés par le script de migration.
Il faut qu'un admin crée manuellement ces petits groupes et leur donner les droits sur les catégories concernées.

[2016-05-31 14:23] jmarcmod commented on #24
D'ac.
@fbunoz : dès que tu seras opérationnel en admin, tu pourras me donner mes droits modos ?
Faut-il comme la dernière fois que d'abord je change d'adresse mail ? actuellement, c'est user9354@localhost où 9354 est mon ID V5 ; mais je n'ai pas accès à un champ d'édition de l'adresse dans la config de mon profil...
Dans le même ordre d'idée, je ne peux pas changer mon "full name"...
J'imagine que

[2016-05-31 14:50] gberaudo commented on #24
Le changement du full name et adresse se fait via l'interface principale: http://c2corgv6.demo-camptocamp.com/account.

[2016-05-31 15:21] jmarcmod commented on #24
OK.
Mais je suis un peu largué:
- sur discourse: username = jmc2 / name = jmc
- sur l'interface principale: name = J.Marc / forum username = JMarcd1

Je précise que je n'ai encore rien personnalisé !

Ce que moi j'en comprends :
- sur discourse: "username" = pseudo affiché en haut à gauche de chaque post et avec lequel on peut interpeller un membre (via @) / "name" = nom d'utilisateur, où on peut

[2016-05-31 16:11] gberaudo commented on #24
Je viens d'essayer, il y a effectivement quelque chose qui cloche dans la synchro avec Discourse.
J'ajoute à la liste, merci.

Il y a bien 3 usernames:
- le pseudo principal (ne se change pas);
- le nom complet (se change dans account 'name');
- le pseudo du forum (se change dans account 'Forum username').

[2016-05-31 16:51] jmarcmod commented on #24
Merci, je commence à comprendre !
- pseudo principal : le login, donc ; est-ce exactement le login V5, où y a-t-il eu éventuel reformatage ? auquel cas il faudra le donner aux membres pour qu'ils puissent se connecter...
- nom complet : c'est aussi le pseudo topoguide, donc.
- pseudo forum : OK, celui qu'il faudra migrer avec formatage.

[2016-05-31 17:01] fbunoz commented on #24
@gberaudo :

L'ID de jmarcmod dans la V5 est 9354.
Il est modo forum, le numéro du groupe est 2 normalement.

@jmarcmod : tu as les droits modos, mais je ne sais pas qui te les a donné (je n'ai rien fait).

[2016-05-31 17:14] jmarcmod commented on #24
Exact, j'ai les droits modo maintenant, et ça marche.

Autre chose : le nom complet apparait désormais à droite du pseudo, du moins pour moi puisqu'il est différent (pseudo jmc2 / nom complet jmc).
_Edit:_ grâce à une config admin de Bubu.

[2016-05-31 19:55] gberaudo commented on #24
@fbunoz, j'ai ajouté les droits modos manuellement à @jmarcmod il y a 8 heures.
Effectivement il est bien groupe 2 dans v5, j'ai mis à jour la TODO liste pour corriger ça. C'est certainement le même problème que pour les admins.

@fbunoz, tu as fait quelque chose spécial pour @jmarcmod?

[2016-05-31 19:56] gberaudo commented on #24
@jmarcmod

Oui il est conservé tel quel!

[2016-05-31 20:02] jmarcmod commented on #24
@gberaudo

Nickel !

Non, c'est pour tout le monde : le nom complet est désormais affiché à droite du pseudo ; mais il n'apparait que s'il diffère du pseudo, donc il apparait par exemple chez moi et pas chez Bubu.

[2016-05-31 20:41] fbunoz commented on #24
For some private forums, the restrictions are not set.
The filter to find the private forums is not correct (https://github.com/c2corg/discourse/blob/import_punbb/script/import_scripts/punbb.rb#L133)
The cause is the key words used : they match the parent category name, but they don't match all private sub categories.
We can improve the filter by adding key words.
But a better solution for sub cat

[2016-05-31 20:45] gberaudo commented on #24
Did you find many forum like these? This issue may be similar to `suppress_from_homepage` which was not applied to the subcategory.

[2016-05-31 22:18] fbunoz commented on #24
- Discussions au sein de l’Association
- Conseil d’Administration de l’Association
- Assemblée Générale de l’Association
- Archives Modération Forums
- Purgatoire
- Poubelle
- Articles
- Commission publicité
- all sub categories of "C2C V6" category

I added the restrictions on the demo (not for "C2C v6").

In the script, suppress_from_homepage is set to true only for category #1 (Comments).
It is

[2016-06-01 06:44] gberaudo commented on #24
OK, thanks @fbunoz.

I was refering to `The comment category is not removed from main page (only its parent category);` of the TODO list. I manually fixed it after import.

[2016-06-01 08:37] fbunoz commented on #24
OK. The bug is that the suppress_from_homepage is set correctly only in the function which create the parent categories, and not in the function creating the sub categories.
But for the comments categories, it is not necessary to create a parent and sub categories. A simple category (at first level) is enough.
In punBB, we have created a parent category and a sub category, because in punBB a topic

[2016-06-05 22:04] fbunoz commented on #24
@gberaudo : non, j'ai vu qu'il était modo quand j'ai reçu les droits admin, mais je n'ai rien fait. En tout cas, aucun autre modo V5 n'a les droits modos sur la V6, il y a bien un problème de migration.
La config admin dont parle jmarcmod, c'est l'affichage du nom complet à côté du pseudo dans les posts.

[2016-06-13 07:13] jmarcmod opened #25 "Account page"
**Problèmes avec la page de gestion d'un compte:**
http://c2corgv6.demo-camptocamp.com/account

1) Impossible de modifier l'**adresse email**:

2) On peut changer le **nom**, mais il n'est pas pris en compte sur Discourse.

3) On peut changer le **pseudo**, mais:
    a) il n'est pas pris en compte sur Discourse ;
    b) il y a plus de restrictions de formatage que ce qu'impose Discourse: le point

[2016-06-13 19:09] jmarcmod opened #26 "[tests alpha 1] Migration V5 -> V6"
**Voici le résultat de nos premiers tests quant à la dernière version du forum (suite à la migration complète du 30 mai).**
Je suis incapable de savoir ce qui incombe à la SA, et ce qui incombe aux développeurs de  l'association ; mais Bubu saura faire le tri.
### 1) Migration V5 -> V6

**a) Comptes :** cf issue #25 [Page account](https://github.com/c2corg/v6_forum/issues/25)

**b) Invités :** les

[2016-06-13 19:28] jmarcmod opened #27 "Navigation et Edition V6"
**Voici le résultat de nos premiers tests quant à la dernière version du forum (suite à la migration complète du 30 mai).**
Je suis incapable de savoir ce qui incombe à la SA, et ce qui incombe aux développeurs de l'association ; mais Bubu saura faire le tri.
### 2) Navigation et Edition V6

**a) ID non utilisée :** l'ID des discussions et des messages est invisible, et pas utilisée pour le repéra

[2016-06-13 19:34] jmarcmod opened #28 "[tests alpha 1] Ergonomie V6"
**Voici le résultat de nos premiers tests quant à la dernière version du forum (suite à la migration complète du 30 mai).**
Je suis incapable de savoir ce qui incombe à la SA, et ce qui incombe aux développeurs de l'association ; mais Bubu saura faire le tri.
### 3) Ergonomie V6

**a) Séparation des messages :** les séparateurs entre les différents messages d'une discussion sont à peine visibles :

[2016-06-13 19:56] stef74 commented on #28
Jean marc si tu reduit la taille de ta fentre ... tu aura le rendu smartphone.

[2016-06-14 05:48] jmarcmod commented on #28
Effectivement. Et c'est encore mieux avec l'astuce de Bubu : ctrl + maj + m (testé hier soir).
Mais rien ne vaut l'avis de ceux qui maîtrisent parfaitement l'usage d'un vrai smartphone, c'est pourquoi nos amis adhérents de l'assoce vont être mis à contribution.

[2016-06-23 09:22] fjacon commented on #26
Je vais créer une issues par point relevés.

[2016-06-23 09:24] fjacon opened #30 "Posts d'invités"
les posts d'invités de la V5 se retrouvent tous sous le même compte 'system', mais désormais le pseudo V5 de ces invités apparait en début de message sous la forme "Posted as guest by pseudo:" ; c'est la bonne solution, mais il faudrait traduire en français.

[2016-06-23 09:25] fjacon opened #31 "Liens entre les discussions"
ID : les discussions sont repérées par un n° d'ordre qui n'est pas l'ID de la V5 ; et les messages de chaque discussion sont repérés par le n° de la discussion mère et un n° d'ordre dans cette discussion.
On perd ainsi tous les liens V5 pointant sur une discussion ou un message, que ce soit depuis le forum, le topoguide ou depuis un site extérieur.
Ce grave problème, repéré dès la première version

[2016-06-23 09:26] fjacon opened #32 "Citations"
les citations, totales ou partielles, des messages V5 sont bien conservées. Et désormais on peut remonter au message source, très gros progrès ! Quant au pseudo cité, c'est celui de la V5 (ce qui est une bonne chose, ça marque le contexte).

Reste 2 soucis lorsque la citation pointe vers une autre discussion :

[code]

Sinon un bug pour les citations précédées d'une ligne vierge, les balises [ quo

[2016-06-23 09:27] fjacon opened #33 "Mise en forme"
Mise en forme : comme Discourse accepte une bonne partie du BBCode, la mise en forme des messages est assez bien conservée (y compris les smileys).

Il y a néanmoins une grosse perte : les images et vidéos insérées ne sont plus intégrées, elle deviennent juste des liens cliquables.
Visiblement, la syntaxe [ img=url ][ /img ] ne passe plus (i.e. celle utilisée depuis quelques temps via le bouton Im

[2016-06-23 09:28] fjacon opened #34 "Abonnements"
Abonnements : ils ont désormais théoriquement migré, mais à vérifier pour ceux qui sont concernés (ce n'est pas mon cas).

NB : j'ai l'impression qu'on est par défaut également abonné à tous les sujets qu'on a créés (abonné sur Discourse = mode "Surveiller") ; c'est un peu lourd, à supprimer si possible.

[2016-06-23 09:29] fjacon opened #35 "Forums privés"
Forums privés : ils n'apparaissent pas dans les catégories ; mais les discussions de ces forums sont bien présentes ! A corriger, car pour l'instant c'est ingérable (on ne sait pas où aller, ni même où on est...)

[2016-06-23 09:29] fjacon opened #36 "Exhaustivité de la migration"
Exhaustivité de la migration : j'ai l'impression qu'il manque plein de discussions ! peut-être la moitié...
Par exemple, dans le forum "discussions escalade", pour le mois de septembre 2014, 60 discussions pour la V5, seulement 25 pour la V6...

[2016-06-23 09:31] gberaudo commented on #31
Cette tâche est suivie dans https://github.com/c2corg/v6_forum/issues/15.

[2016-06-23 09:47] fjacon commented on #27
Je vais créer des issues correspondants aux problèmes soulevés.

[2016-06-23 12:09] gberaudo commented on #33
Lié à https://github.com/c2corg/v6_forum/issues/20.

[2016-06-23 12:11] fjacon commented on #33
A-t-on un exemple de tags image standard qui ne fonctionne pas ?

Sinon, pour le reste, ce sera à l'association de réimplémenter les spécificités de V5.

[2016-06-23 12:15] gberaudo commented on #25
Le problème 2) et 3a) est corrigé par https://github.com/c2corg/v6_api/pull/309

[2016-06-23 12:20] fjacon commented on #25
Sur le 3b : il faut que l'association fasse d'abord une normalisatoin des pseudos dans V5 dans le format proposé ici : https://github.com/c2corg/v6_forum/issues/22#issuecomment-222550729

[2016-06-23 12:27] fjacon opened #37 "Images fraichement insérées"
Images fraichement insérées : un script automatique (de redimensionnement des images ?) semble modifier a posteriori les balises et du coup fait disparaitre l'affichage des images (pourtant visibles lors de la mise en ligne).

[2016-06-23 12:30] fjacon commented on #37
et aussi :

Avatars : la saisie d'un avatar ne fonctionne plus : l'image se télécharge, mais "sauvegarder les modifications" ne sauvegarde rien.

[2016-06-23 12:32] fjacon opened #38 "Citations"
2 soucis lorsque la citation pointe vers une autre discussion (comme pour la migration, à une nuance près cf le lien d'échec) :

[code]

[2016-06-23 12:33] fjacon commented on #27
Points a), b) c) d) e) f) h) i) j) : Problèmes Discourse qui ne seront pas corrigés par la SA

point g) : https://github.com/c2corg/v6_forum/issues/37
point k) : https://github.com/c2corg/v6_forum/issues/38
point l) : je le mets dans https://github.com/c2corg/v6_forum/issues/37
point m) : le pseudo n'est pas géré dans discourse dans notre cas. Ce n'est pas possible en l'état. Développements probab

[2016-06-23 12:39] stef74 commented on #33
Peux-tu evaluer de votre coté la prise en compte de ces specificités (à
mutualiser avec l'edition de document v6_ui). On prendra ensuite la
décision avec tous les élèments.

2016-06-23 14:11 GMT+02:00 Frédéric Jacon notifications@github.com:

[2016-06-23 13:02] asaunier commented on #33
Ce n'est probablement pas mutualisable car ce sont deux applis différentes avec des technos différentes : python pour les documents, ruby (ou javascript ?) pour discourse.

[2016-06-23 13:08] stef74 commented on #33
Ok mais les concept et algo sont probalement les mêmes

2016-06-23 15:02 GMT+02:00 Alex Saunier notifications@github.com:

[2016-06-23 13:26] fjacon opened #39 "User logout from main site not taken into account in forum"
Use case
- disconnect from main site
- go to forum
- still connected in forum

[2016-06-23 13:39] asaunier commented on #39
Most likely same error than https://github.com/c2corg/v6_ui/issues/452

[2016-06-23 14:22] asaunier commented on #39
We have updated the discourse_api_key in the discourse demo instance. I think this issue is fixed and can be closed.

[2016-06-24 07:13] jmarcmod commented on #38
Il semble que cette issue, concernant la navigation V6, et la première partie de l'[issue #32](url=https://github.com/c2corg/v6_forum/issues/32) concernant la migration V5-V6, pointent sur un seul et même problème.

[2016-06-24 07:25] jmarcmod commented on #33
http://c2corgv6-discourse.demo-camptocamp.com/t/le-jeu-du-sommet/111013/12931
Lien cliquable OK, mais image pas affichée.
C'est le cas de toutes les images insérées via le bouton [ img ] de la V5 ces 2 ou 3 dernières années (et donc de la plupart des images V5 récentes), syntaxe [ img=url ][ /img ]

L'ancienne syntaxe elle fonctionne:
http://c2corgv6-discourse.demo-camptocamp.com/t/le-jeu-du-somme

[2016-06-24 07:31] jmarcmod commented on #26
a) cf #39 et #25
b) cf #30
c) cf #31  et #15
d) cf #32
f) cf #33
g) cf #34
i) cf #35
j) cf #36

e) abandon
h) OK

[2016-06-24 12:43] asaunier opened #40 "Protecting the demo forum with a password?"
The UI demo is password-protected whereas the demo discourse instance is not. Perhaps we should apply the same protection to it as well (with the same username/password)?

[2016-06-27 07:14] gberaudo commented on #40
Adding a password would prevent the API to communicate with Discourse. Is there a simple way to prevent google from indexing the forum?

[2016-06-27 07:19] tsauerwein commented on #40
Could we use an internal (unprotected) address of the forum for the API?

[2016-06-27 07:24] gberaudo commented on #40
Indeed, it is a possibility.
I checked Discourse, it is currently configured to not allow indexing by search engines so it may be a non-issue. See http://c2corgv6-discourse.demo-camptocamp.com/admin/site_settings/category/security

[2016-06-27 08:09] asaunier commented on #40
I know that @fbunoz has changed the "robots.txt" of the demo forum using the admin interface. It should now be marked as "ino index". So adding a basic auth adds too much complexity, we can probably live with the current setting.

Like the internal API URL for the UI server side?
Anyway that would make sense (for security and performances reasons?) to use an internal URL to make the API and forum

[2016-06-29 08:54] asaunier opened #41 "Menu on discourse forum"
@ginold said in issue https://github.com/c2corg/v6_ui/issues/461

[2016-06-30 09:41] gberaudo commented on #25
Le problème 1) est corrigé par https://github.com/c2corg/v6_ui/pull/474

[2016-06-30 18:53] stef74 commented on #41
@ginold the vertical menu is cleary the good choice. The goal is to have the forum embedded in c2c.org v6.
The defaut of actual vertical menu is to have discourse menu on the top and if you switch between topoguide and forum menu item are not aligned.

Disourse have good community ... use it ;-)

[2016-07-01 18:35] jmarcmod commented on #25
Est-ce que ces corrections sont effectives sur l'actuel site de démo (alpha 1), ou alors il faut attendre alpha 2 ?
Car pour le moment, on peut changer l'adresse mail (il y a donc un progrès), mais d'une part elle n'est toujours pas transférée à Discourse, d'autre part après déconnexion et reconnexion, on retombe sur l'ancienne adresse.

[2016-08-03 08:51] #39 closed, assigned to arnaud-morvan, gberaudo

[2016-08-17 15:00] arnaud-morvan opened #42 "Duplicated guidebook related topics"
Here is a request to get duplicated topics from discourse:

[code]

And the result is :

id;title;category;duplicate_count
68518;"107473_fr";28;2
68519;"107473_fr";28;2
68572;"107568_fr";28;2
68573;"107568_fr";28;2
71686;"115858_it";28;2
71685;"115858_it";28;2
74256;"124815_fr";28;2
74258;"124815_fr";28;2
74264;"124833_fr";28;2
74265;"124833_fr";28;2
74447;"125133_fr";28;2
74446;"125133_fr";28;2
8

[2016-08-18 12:53] arnaud-morvan commented on #42
@asaunier : Can you ping an administrator about this duplicated topics, note that this ids come from discourse (V6) database, but titles should permit to get correspondance in V5 forum.

[2016-08-18 13:59] asaunier commented on #42
I am not sure to know what I should ask the association for!?

Where do these duplicated topics come from? Don't you think they have been duplicated by the migration script? Or you think they are already duplicated in the v5 forum?

What is "category = 28"? Is it related to http://www.camptocamp.org/forums/viewforum.php?id=28 ?

[2016-08-18 16:20] arnaud-morvan commented on #42
We should verify that these topics are really duplicated in V5 or not. Where are store comments in V5, in forum ? I don't know about the V5 tools. Note that duplicated topics content differ.

Maybe I can add informations in query like document title, type and lang. For now titles are the V6 demo ones (discourse and v6_api / ui ones). This should be sufficient get the document page in V6 and the co

[2016-08-18 16:42] asaunier commented on #42
Yes. So they are migrated to v6 using the forum migration script created by @gberaudo
Are there duplicates in other categories (=standard forum categories)?

[2016-08-19 06:52] asaunier commented on #42
By the way the v5 DB is also available on the dev server ("c2corg"). Perhaps you could run a similar query on its "punbb_topics" and figure out if there are also duplicates in the original DB?

[2016-08-19 08:43] gberaudo commented on #42
The duplications seems to come from v5:

@arnaud-morvan, taking the first topic id from your list it is also duplicated in v5:

[code]

There is a 1 hour difference between these two timestamps.

[2016-08-30 16:34] fbunoz commented on #42
The duplications come from the v5 : 2 users post the first comment, which create 2 topics for the comments. Or an user come back to the post edit page and re-post the first comment.
They are not visible in the comment page (for reading, the duplicates don't cause any problem, they appear as a single topic), but they can be seen and merged with moderator right in the V5 forum.

I started to merge t

[2016-08-31 16:19] arnaud-morvan commented on #36
J'ai fait un comptage rapide des sujets dans "discussions escalade" entre les bases de données v5 et discourse sur le serveur de développement.

[code]

En effet, il est possible que la base V5 aie été mise à jour depuis l'import discourse.

J'ai tenté, avec dblink de faire une jointure sur le titre des sujets. La correspondance se fait bien, mis a part quelques différences de casse et caractères

[2016-09-02 10:03] arnaud-morvan commented on #36
Je viens de faire un test d'import avec uniquement ce topic et je récupère bien les 217 posts, dont les deux de septembre 2014.

[2016-09-02 17:42] arnaud-morvan commented on #34
Concernant les subscription dans punbb, il existe une table punbb_subscriptions, simple relation entre topic et user. Je suppose donc que si l'enregistrement existe c'est que l'utilisateur est abonnée au topic.

Concernant les notifications, dans discourse, il existe 4 niveaux de notifications :
- 3 : Watching : You will be notified of every new reply in this topic, and a count of new replies will

[2016-09-05 09:45] arnaud-morvan commented on #35
@jmarcmod : Je ne suis pas sur de bien comprendre ce que sont les "Forums privés".
Je vois dans Discourse des forums avec un cadenas, est-ce cela dont il s'agit ? Car je ne vois pas de problème sur ce point.
Peux-tu me donner le titre d'un des forums concernés ?

[2016-09-05 11:29] arnaud-morvan commented on #33
Pour ma part, je pense que nous devrions remplacer toutes les balises images par la syntaxe HTML produite par l'éditeur de Discourse, le résultat sera plus homogène et il sera ainsi plus facile de changer les chemins si nous changeons d'url pour le stockage des images du guidebook.

[2016-09-05 13:20] jmarcmod commented on #35
@arnaud-morvan : les forums privés sont les forums réservés à une catégorie particulière de membres : forums réservés aux modérateurs, forums réservés aux membres de Camptocamp-Association, forums réservés aux membres du CA.
Ça n'a rien à voir avec les forums avec icône cadenas, prédéfinis par Discourse.
Par exemple cette discussion, importée de la V5 :
http://c2corgv6-discourse.demo-camptocamp.co

[2016-09-05 13:25] tsauerwein opened #43 "Change SSO/logout URL"
When https://github.com/c2corg/v6_ui/pull/587 is merged, the URL for SSO and logout should be changed to `/auth-sso` and `/auth-sso?logout` in the configuration.

[2016-09-05 13:38] jmarcmod commented on #34
A la réflexion ce mode de fonctionnement, auquel nous ne sommes pas habitués, est intéressant.
Cela responsabilise celui qui poste et encore plus celui qui ouvre un topic : si d'autres réagissent à son écrit, il le saura et se trouvera obligé d'aller voir, et le cas échéant d'expliquer ou de temporiser ses propos... Après libre à lui de baisser le niveau après coup.

[2016-09-05 14:10] arnaud-morvan commented on #15
Note that we have some punbb ids already stored in discourse database during import.

See the tables `group_custom_fields`, `user_custom_fields`, `category_custom_fields`, `post_custom_fields`.
Table `topic_custom_fields` exists but is not filled during import.

Custom field tables are already indexed on fielname and value, and the value is a text field.

[2016-09-05 14:32] arnaud-morvan commented on #30
Je suppose que ceci serait à faire en fonction du champ punbb_forums.culture

[2016-09-05 14:46] stef74 commented on #30
On peut aussi "simplifier" les forum sont surtout utilisé en France ou
faire une chaine qui depende de la langue utilisateur ... mais pas de la
langue du forum (si c'est plus simple).

2016-09-05 16:33 GMT+02:00 Arnaud Morvan notifications@github.com:

[2016-09-05 15:05] arnaud-morvan commented on #15
Permalinks can be created with :

[code]

[2016-09-06 07:23] arnaud-morvan commented on #35
En tant qu'admin, tout semble correct.

J'ai créé un compte modérateur :
- Je vois bien la discussion comme orpheline.
- Sur la page d'accueil, je n'ai pas Administration des sites.
- http://c2corgv6-discourse.demo-camptocamp.com/c/administration-des-sites => Oops! Cette page n'existe pas ou est privée.
- http://c2corgv6-discourse.demo-camptocamp.com/c/administration-des-sites/modos-forum => :( Er

[2016-09-06 20:49] fbunoz commented on #35
Si, les forums privés sont bien les forums avec un cadenas.
En fait, dès qu'un forum n'est pas accessible à tous, il est affiché avec
un cadenas.
Attention, les droits des forums ne sont pas migrés automatiquement (seul
les groupes d'utilisateurs le sont en partie), c'est moi qui les ai
modifié, mais j'ai fait le minimum, il ne faut pas essayer de comparer les
droits exactement avec la V5.

Perso

[2016-09-07 08:51] arnaud-morvan commented on #42
It seems really complex and tricky to merge this topics in the migration script which is already complex.
If the V5 forum has such functionnality, IMHO it sounds reasonnable to merge them before migration.

[2016-09-07 10:54] arnaud-morvan commented on #35
Oui, cela s'affiche bien depuis que j'ai ajouté les droits pour les modérateurs sur la catégorie parent Administration des sites.

J'ai mis du temps a bien comprendre ce que faisait la migration en termes de permissions.
Et effectivement tous les groupes ne sont pas migrés car vous ne pouviez pas affecter plusieurs groupes à un même utilisateur dans PunBB.

Sauf erreur de ma part, il est donc prév

[2016-09-07 10:58] fjacon commented on #42
Yes I think the association should prepare a V5 database without duplicates.
Is this OK ?

[2016-09-07 11:11] arnaud-morvan commented on #35
@fbunoz : you said that restrictions are not setted on subcategories :
https://github.com/c2corg/v6_forum/issues/24#issuecomment-222813461
This is in the scope of this issue.
And it seems that this is a TODO before first migration.

[2016-09-07 11:40] arnaud-morvan opened #44 "Create a first post for guidebook related topics"
As the first post is not shown in guidebook document comments (discourse embed), we should create a prepending post in guidebook related topic during migration.

Post content remain to be described by the association.

[2016-09-07 12:08] jmarcmod commented on #35
Je confirme que désormais ça marche parfaitement !

OK, maintenant je peux le constater.

[2016-09-07 13:40] fbunoz commented on #35
Yes, I forgot this part of the migration.

[2016-09-07 13:46] fbunoz commented on #42
It is possible, but it takes 2-3 weeks of work (with few work per day : manually, one merge take 1-2 min).
We need the list of duplicates for all Comments forum. I think the list given in the first post come from a partial dump of the V5 DB, because there should be some duplicates for doc ID > 600000.
More over, we'll need an update of this list just before the final migrating, to merge the duplic

[2016-09-07 13:49] asaunier commented on #42
It would be more relevant to create a similar SQL query directly for the v5 DB. Especially because importing the forum DB again takes days and we would need to make a new DB import (days again...) after the comment duplicates have been fixed.

[2016-09-07 16:04] arnaud-morvan commented on #43
Done on the demo instance.
Should be done to in the install procedure.

[2016-09-09 11:39] arnaud-morvan commented on #42
The request at the to of the issue is an Discourse one.
To get the V5 duplicates :

[code]

[2016-09-09 11:42] arnaud-morvan commented on #35
I will just start working on, not a big deal.

[2016-09-09 11:46] arnaud-morvan commented on #42
Note that there is a lot of duplicated topics (on subject) in other forums, but this is not as real problem for the link with the guidebook.

[2016-09-09 14:42] jmarcmod commented on #35
Le forum "comments", qui permet la gestion des commentaires de documents du topoguide, est bien présent, mais il n'apparait pas dans l'index catégories/forums de la home de Discourse ; un oubli ?
C'est en principe un forum privé (visible uniquement par les modos forum et les membres de l'assoce).

[2016-09-09 14:52] arnaud-morvan commented on #35
Je vois dans le script d'import que cette catégorie (Commentaires du topoguide) est retirée de la page d'accueil. Je vais aussi le mettre en privé lors de la migration. Comme je l'ai annoncé un peu plus haut, certains réglages (notamment les permissions) pourront se faire manuellement dans discourse après la première migration.

[2016-09-09 15:01] jmarcmod commented on #35
Après tests sur le topoguide, je crois qu'il ne faut pas mettre ce forum en privé ; le mode de fonctionnement des commentaires a changé : on les rédige directement dans Discourse, donc comme tout membre doit pouvoir commenter, "comments" doit rester accessible à tous, en lecture comme en écriture.

@fbunoz : tu confirmes ?

[2016-09-09 15:27] arnaud-morvan commented on #35
Pour pouvoir poster depuis le topoguide, il faut être connecté.

[2016-09-09 15:30] jmarcmod commented on #35
On est d'accord. Quand je disais "à tous", je pensais aux membres lambda connectés (par opposition aux modos).

[2016-09-09 15:46] arnaud-morvan commented on #35
Voici ce que j'obtiens pour les restrictions à la sortie du script :

[code]

[2016-09-09 16:14] arnaud-morvan opened #45 "Redis errors when running import script"
This type of errors arrive ramdomly when running import script.
Here, the real import do not have started yet, it appends during the settings change for the import.
I relaunch the script and all works perfectly.

[code]

[2016-09-09 16:23] fbunoz commented on #35
Le mode de fonctionnement n'a pas changé, c'est pareil sur la v5.
J'ai rendu la sur - catégorie invisible sauf pour l'association, et le
forum comments visible par tout le monde, mais il est inaccessible sauf
pour l'assoce malgré tout.
A voir si ça n'a pas cassé les commt dans le topoguide (visiblement non,
mais à tester).

Le 9 sept. 2016 17:01, "jmarcmod" notifications@github.com a écrit :

[2016-09-09 16:37] jmarcmod commented on #35
Ah oui c'est moi qui fatigue...

[2016-09-11 08:28] jmarcmod commented on #35
@arnaud-morvan

Attention, 4 forums de la catégorie "Site et Association" sont en fait publics :
   27: Le Site : suggestions, bugs et problèmes
   28: Modération : forums, topoguide, articles
   31: Actualités : Site et Association
   39: Traduction

@fbunoz  : il serait peut-être pertinent de scinder cette catégorie en 2 ?
Genre laisser "Site et Association" pour les 4 forums publics, et créer "

[2016-09-13 07:02] arnaud-morvan commented on #45
To disable query cache globally : http://stackoverflow.com/questions/20366262/disabling-rails-sql-query-caching-globally
I will try it soon

[2016-09-14 15:56] arnaud-morvan commented on #35
Je merge ma modification, si besoin nous ferons un ajustement avant la migration.

[2016-09-16 12:42] #31 closed, assigned to nobody

[2016-09-16 12:55] arnaud-morvan commented on #15
J'ai ajouter des permaliens dans le script de migration.
@mfournier : Il faudra sans doute prévoir qque chose dans le service frontal de production si l'url vers le forum à changé (http://camptocamp.org/forums/ => ?)

[2016-09-19 10:03] asaunier opened #46 "Add support of Goggle Analytics"

[2016-09-20 13:13] #43 closed, assigned to nobody

[2016-09-20 14:30] arnaud-morvan commented on #32
Discourse posts.cooked has to be refreshed with the domain name :

[code]

source :
https://meta.discourse.org/t/change-the-domain-name-or-rename-my-discourse/16098

[2016-09-20 14:31] arnaud-morvan commented on #38
Duplicated, closing

[2016-09-20 14:31] #38 closed, assigned to nobody

[2016-10-07 11:32] arnaud-morvan commented on #42
We have found a simple solution to merge duplicated topics during migration, by fooling the migration script about the punbb_posts.topic_id.

I will apply this on topoguide comments for sure. The question is : should we do the same for other forums ?

[2016-10-07 14:55] fbunoz commented on #42
Good !

No. Only the "Comments" forum has a link with the guidebook.
For the other forums, there isn't any link between the topics and the guidebook in the DB or in the guidebook code.
It is normal that there are duplicates in other forums. Some of them need to be merged, but it will be done by the moderators (this is only dummy topics, without any consequence).

[2016-10-19 19:39] asaunier opened #47 "No need for comments in profile pages"
In v5 it's possible to add comments to a profile page. But it's not that relevant and often misused.

In v6, the association is OK for not having comments in the profile page. So I will simply skip this part in https://github.com/c2corg/v6_ui/pull/728

Of course it would then make sense not to migrate the existing profile comments to the discourse DB.
But I guess it's OK to migrate them and simply

[2016-10-20 11:06] arnaud-morvan commented on #30
Le problème avec ces posts, c'est que nous n'avons pas d'utilisateur.
J'ai fait la traduction en francais si le forum est en francais, sinon je garde l'anglais.

[2016-10-20 11:36] arnaud-morvan commented on #32
Le problème de ce post n'est pas lié à la ligne vierge.

discourse n'interprête pas les citations sans nom d'utilisateur, je peux éventuellement mettre un nom générique du type "invité".

discourse n'interprête pas les citation imbriquée, ce post à des citations imbriquées sur 3 niveaux. La par contre, je ne vois vraiment pas ce que je peux faire.

[2016-10-20 11:43] asaunier commented on #32
C'est vraiment nécessaire de supporter des trucs comme ça ?

[2016-10-20 11:45] arnaud-morvan commented on #37
J'ai fait quelques tests, je n'ai pas réussi à reproduire.

[2016-10-20 11:50] stef74 commented on #32
Merci de ne passer plus de temps sur ces problematique de migration (si
j'ai compris le fond du problème). Il y a d'autre sujet bien plus utile ;-)

2016-10-20 13:43 GMT+02:00 Alex Saunier notifications@github.com:

[2016-10-20 11:52] stef74 commented on #30
Fait seulement une version francaise ... ca couvrira 95% des cas et tampis
pour le reste.

Le 20 octobre 2016 à 13:06, Arnaud Morvan notifications@github.com a
écrit :

[2016-10-20 11:52] stef74 commented on #37
Je propose de clore ... la beta confirmera si il y un soucis.

2016-10-20 13:45 GMT+02:00 Arnaud Morvan notifications@github.com:

[2016-10-20 12:37] arnaud-morvan commented on #33
Concernant les +1, il ne sont pas cassés, seulement les + 1 (notez l'espace devant le 1), et ca me parait assez normal en soit.
Je vais tout de même ajouter ceci : `s.gsub!(/^\+ 1$/, '+1')`

[2016-10-20 14:01] arnaud-morvan commented on #33
Pour la balise color, il faut installer un plugin : https://github.com/discourse/discourse-bbcode-color

[2016-10-20 14:38] arnaud-morvan commented on #47
I do not have any opinion on this.
In discourse it is possible to create extra user fields.

[2016-10-20 14:42] stef74 commented on #47
Whats happen if you do NOTHING on this subject (concerning current
comments) ? we have old comment post in forum database ...

2016-10-20 16:38 GMT+02:00 Arnaud Morvan notifications@github.com:

[2016-10-20 14:47] asaunier commented on #47
They will be migrated but not used/shown, right?

[2016-10-20 14:53] arnaud-morvan commented on #47
Sorry, misunderstood, we talk about topoguide comment topics.
Yes, they will be migrated, but no link in the UI.
Note that, during migration, concerning the document comments, we add a first posts, based on the category.
I don't see user comments, is it in the same category ?

[2016-10-20 14:57] asaunier commented on #47
Yes, user pages are documents like others.

[2016-10-20 15:23] arnaud-morvan commented on #47
So there should be a first post, may be with "Document not found" instead of link.
They will be migrated, shown or not, depending on rights set on parent categories. If I correctly remember, parent categories are public (to get correct breadcrumb) but not shown on home page.

[2016-10-21 15:00] jmarcmod commented on #33
Oui et non : il n'y a pas d'espace autour de '+' lorsqu'on saisit une formule mathématique dans un logiciel de calcul ; en revanche il y en a à l'affichage dans un texte mathématique... d'ailleurs les traitements de texte scientifiques ajoutent automatiquement ces espaces.
D'où l'habitude de certains d'écrire '+ 1' :)

Nickel !

[2016-11-02 21:25] fbunoz commented on #24
Sur le forum de la démo Béta, les droits admin et modérateur ne semblent pas avoir été migrés. Le pseudo et le nom complet non plus.
Par ailleurs, quand on s'identifie sur la home de la V6, puis qu'on passe sur le forum, on n'est plus identifié. Et la langue de l'interface du forum n'est pas cohérente avec celle du topoguide.

[2016-11-02 21:37] asaunier commented on #47
Do we really need to do something about this issue? If not, feel free to close it.

[2016-11-02 21:47] asaunier commented on #24
I have not observed this behaviour: I am authenticated in discourse when authenticating in the UI (guidebook), as expected. Tested with FF and Chrome.

On the other hand, I have noticed that after logging out in the UI, I am still authenticated in discourse. No problem when logging out in discourse: also logged out in the UI.

[2016-11-02 21:57] jmarcmod commented on #24
Je n'ai pas de problème non plus avec l'identification, elle est conservée quand je passe de la Home au Forum.

[2016-11-02 23:28] fbunoz commented on #24
En effet ça fonctionne quand je me déloggue/reloggue.
C'était juste un problème de cookies pas à jour.

[2016-11-08 17:43] asaunier commented on #41
What about this issue?
I think we have no menu ready for the forum!?

[2016-11-08 18:21] fbunoz commented on #8
On the beta import visible on http://forum.demov6.camptocamp.org/users?order=post_count&period=all, the forum name is not correct for some users.
For example, my forum name has been migrated to fbunoz, instead of Bubu (which respects the Discourse username rules from 1999 :-) ).

[2016-11-08 18:39] asaunier commented on #8
"fbunoz" is your login, right?
A mix between the login and the forum name?

[2016-11-08 18:53] fbunoz commented on #8
Yes, is my login.

[2016-11-09 08:37] ginold commented on #41
I remember i had started working on a menu for discourse and had a prototype but i can't see where it has gone

[2016-11-09 09:29] asaunier commented on #41
Was it only available in the old discourse demo? Or was it saved somewhere in this repo (branch?)?
Everything that is only saved in a discourse instance is not permanent and can be deleted at any time. Permanent config/content should be saved in the repo.

[2016-11-09 10:02] ginold commented on #41
I can't remember, I can't tell if it has even been used on discourse at the end, but i cant find any branch either - which is even more strange. Maybe I copied it to discourse and deleted the branch.

[2016-11-09 10:32] jmarcmod commented on #8
Idem pour moi.
Sur V5, login : jmc / pseudo forum et topoguide : J.Marc (compatible avec les règles Discourse)
Sur V6 Discourse, login : jmc / pseudo forum : jmc2 / pseudo topoguide (= "nom complet") : jmc
Et je ne peux pas modifier ce pseudo forum sur Discourse.

Même constat chez d'autres testeurs (dont Hervé S.)

**C'est sans doute le plus grave de nos problèmes, car totalement bloquant :** com

[2016-11-09 10:39] jmarcmod commented on #41
Pour être en phase avec les pages topoguide, il vaut mieux un menu vertical à gauche.
Mais pour l'instant nous n'avons pas de menu... en particulier, on ne peut pas revenir au topoguide depuis le forum.

[2016-11-09 11:27] fjacon commented on #41
@gberaudo avait fait quelque chose, qui reste à personnaliser.

[2016-11-09 11:33] asaunier commented on #41
Same question: where?

[2016-11-09 11:49] gberaudo commented on #41
You can find the code in the initial issue: https://github.com/c2corg/v6_forum/issues/2.

[2016-11-09 16:19] stef74 commented on #27
@fjacon il y a des choses à faire dans ce ticket ?

[2016-11-09 19:39] HSERGERAERT commented on #26
@stef74 Pourquoi mettre ce ticket en "blocking" alors qu'il a été décomposé en différents tickets. Pour moi ce ticket devrait être fermé, non ?

[2016-11-09 20:22] jmarcmod commented on #26
Même avis qu'Hervé, tout a été dispatché dans les tickets 15, 25, 30 à 36, 39.

[2016-11-09 20:40] stef74 commented on #26
Les ticket qu'il regroupe sont des sujets migrations ... donc blocking par défintion. Donc soit on considere qu'on le clos ... soit c'est lié à ensemble de ticket qui sont eux souven bloquant.

[2016-11-10 06:21] HSERGERAERT commented on #26
Clos, car dispatché, à réouvrir si besoin

[2016-11-10 06:21] #26 closed, assigned to fjacon

[2016-11-10 06:30] HSERGERAERT opened #48 "Wrong ID's on Discourse on Beta test server"
Error is on the Beta server of C2C-asso : https://forum.demov6.camptocamp.org/
On v5, my ID is "herve74", my name "Hervé Sergeraert" and my forum pseudo "Lutin"
![capture1](https://cloud.githubusercontent.com/assets/20357260/20166773/59484acc-a717-11e6-8c94-266e3860fe48.JPG)

On Discourse, my pseudo becomes herve741 (instead of Lutin), the name is herve74 (instead of "Hervé Sergeraert").
![capture

[2016-11-10 10:43] jmarcmod commented on #48
Je complète, car le problème affecte aussi la page account du topoguide :
http://www.demov6.camptocamp.org/account

Je vais utiliser mon propre exemple.
V5 : identifiant = jmc / pseudo topo et forum = J.Marc
V6 discourse : identifiant = jmc / pseudo topo = jmc / pseudo forum = jmc1 (c'est le bug déclaré ci-dessus)
**V6 topoguide (account) :** identifiant = jmc / pseudo topo = J.Marc / **pseudo for

[2016-11-12 16:26] jmarcmod commented on #30
Ça me semble très bien ainsi.
Issue à fermer ?

[2016-11-12 16:45] jmarcmod commented on #37
C'est nickel sur la beta !
OK pour clore.

[2016-11-12 17:07] jmarcmod commented on #27
- d) a été partiellement résolu (le bouton "options" de la recherche fonctionne, ce qui permet d'ajouter des filtres).
- i) est traité dans l'issue [#33](url=https://github.com/c2corg/v6_forum/issues/33)
- j) est résolu.
- e) est abandonné.

Pas grave : abandon.

[2016-11-12 17:10] jmarcmod commented on #27
@stef74

Pour la SA, non ; mais il reste du boulot pour les dévs de l'assoce...
A savoir les points a), b), c), d), f), h).

[2016-11-12 17:48] jmarcmod commented on #22
@gberaudo @fbunoz

Pour l'instant on ne peut pas vérifier sur la version beta comment la migration a normalisé le pseudo forum, puisque c'est bugué et qu'elle l'a remplacé par le login, cf [#48](url=https://github.com/c2corg/v6_forum/issues/48).
Mais est-ce que la règle de transformation ci-dessus a été implantée ?

_Edit :_ par ailleurs, est-il correct que la normalisation automatique des pseudos

[2016-11-12 17:54] jmarcmod commented on #8
Problème bloquant, détaillé dans l'issue [#48](url=https://github.com/c2corg/v6_forum/issues/48).

[2016-11-12 17:58] jmarcmod commented on #35
Je suis modo sur la version beta, mais je n'ai accès à aucun forum privé... alors que j'y avais accès sur l'ancienne version.

[2016-11-12 18:05] asaunier commented on #35
La migration ne restaure pas les droits d'accès aux forums privés il me semble. Il faut qu'un admin (Bubu) te remette les droits à la main.

[2016-11-12 18:05] jmarcmod commented on #33
@arnaud-morvan

Sur la beta, ça semble OK pour les images, du moins avec la syntaxe classique [ img ]url[ /img ] ; reste le problème des vidéos (mais pas majeur).

Non résolu.

Non résolu.

Résolu pour la balise color.

Sans espace, '+1' fonctionne, donc pas si grave...

[2016-11-12 18:07] jmarcmod commented on #36
Sur la version beta, la migration semble exhaustive.

[2016-11-12 18:12] jmarcmod commented on #15
@arnaud-morvan
Sur la beta, pas d'amélioration : les liens internes au forum V5 n'ont pas été transformés en liens V6, donc seront inutilisables...
Il s'agit là d'une perte énorme ; notamment pour les modos forum, modos topoguide, et membres de l'association, qui travaillent sur les forums privés essentiellement par liens.

[2016-11-12 18:38] jmarcmod commented on #32
@arnaud-morvan

Le 1er est corrigé (lien vers le message source), mais pas le second : **il manque le pseudo de l'auteur du message source ; n'apparait qu'un micro avatar, inutilisable.**
Exemple : https://forum.demov6.camptocamp.org/t/pictogramme-pour-sorties-ornitho/172021

Ce bug semble mystérieusement corrigé !

L'important, c'est que désormais les citations imbriquées de la V5 sont bien inter

[2016-11-13 07:40] jmarcmod commented on #35
Exact Alex, Bubu m'a remis les droits, et maintenant c'est tout bon !

[2016-11-13 07:52] jmarcmod commented on #35
@arnaud-morvan : en plus des 4 forums qui sont publics et non privés (27, 28, 31, 39), il y a aussi un forum privé et non public :
53: Moderatori (accesso limitato)
Sur l'actuelle beta, une seule correction a été faite : 27 est passé en public.
**Reste à passer 28, 31, 39 en public, et à passer 53 en privé.**

@fbunoz : je réitère ma proposition de scinder la catégorie "Site et Association" en deu

[2016-11-13 11:26] jmarcmod commented on #28
a) et f) résolus par fbunoz.

Peut-on avoir confirmation que les points b), c) et h) ne seront pas traités par la SA, et donc incombent aux dévs de l'assoce ?

_Edit :_ c) résolu par fbunoz.

[2016-11-13 13:49] #37 closed, assigned to nobody

[2016-11-13 13:50] #30 closed, assigned to nobody

[2016-11-13 13:52] stef74 commented on #36
A réouvrir si besoin

[2016-11-13 13:52] #36 closed, assigned to nobody

[2016-11-13 16:42] asaunier commented on #22
Je ne sais pas. S'agit-il de ce script : https://github.com/c2corg/v6_api/blob/master/c2corg_api/scripts/migration/create_unique_normalized_usernames.sql ?
Si oui, est-ce qu'il a été executé sur la BD v5 utilisée pour la migration ?

[2016-11-13 17:03] jmarcmod commented on #22
Ce script date du 15 avril, il est donc antérieur aux règles que nous avons définies ci-dessus le 30 mai.

[2016-11-13 19:39] jmarcmod commented on #34
La migration des abonnements V5 (mode watching) est abandonnée, car trop compliquée, pour trop peu de cas (en effet seuls sont concernés les abonnements V5 pour des sujets qu'on n'a pas initiés, sinon c'est le mode watching par défaut).

On peut donc fermer cette issue.

[2016-11-14 08:46] fbunoz commented on #41
Be careful when testing the design : if we want to use the same code for desktop and mobile, it must be copied to two places in the admin interface (a mobile picto allows to switch between destop code and mobile code).

[2016-11-14 10:13] arnaud-morvan commented on #48
J'ai fixé l'erreur avec discourse lors de la validation de la page "Mon compte".
Pour ce faire j'ai généré une clé d'API dans discourse (Admin / API) et je l'ai ajouté dans la config de v6_api. Il faudrait donc générer cette clé en amont sur le serveur de migration pour que tout fonctionne directement lors du remplacement de la base discourse en démo.

[2016-11-14 10:16] arnaud-morvan commented on #48
Lors de la validation du formulaire "Mon compte" les infos me semblent correctes dans discourse.

J'ai trouvé une erreur dans la partie API qui semblait écraser les forum username et name  dans discourse avec le login lors de l'identification dans la partie v6_api, voir la pull request ci-dessus.

[2016-11-14 10:20] arnaud-morvan commented on #48
J'ai fait une recherche dans ma base discourse juste après import, l'utilisateur "herve74" a pour pseudo "Lutin1" et nom "Herve Sergeraert". J'ai fait un test d'import avec seulement cet utilisateur et j'obtiens bien "Lutin" et nom "Herve Sergeraert". Etant donné que ces infos sont écrasées à chaque login, je ne pense pas que cela pose problème.

[2016-11-14 10:21] asaunier commented on #48
Est-ce que ce point est indiqué dans une todo list quelque part ? Par ex https://github.com/c2corg/v6_ui/issues/639

[2016-11-14 10:23] arnaud-morvan commented on #44
Everything seems correct now, we have the first post in each topic with link to the related topoguide document.

[2016-11-14 10:23] #44 closed, assigned to nobody

[2016-11-14 10:25] arnaud-morvan commented on #35
Il a été convenu que nous laisserions le soin à l'association de fixer les droits sur les catégories après la migration initiale.

[2016-11-14 10:31] HSERGERAERT commented on #48
Est-ce une tâche SA (ce que je comprends) ou une tâche Association ? désolé je suis limite côté techno sur ce sujet.
Est-ce que je comprends bien que cette action est à faire avant de démarrer la migration incrémentale pour que les données soient justes ?
Pourquoi le pseudo serait "Lutin1" avec "1" alors que ce pseudo est compatible discourse, est-ce parce-qu'il existe un "lutin" avec "l" minuscul

[2016-11-14 10:45] arnaud-morvan commented on #33
Je tiens à préciser que nous n'avons implémenté dans discourse toutes les syntaxes permises par punbb dans la V5. Nous avons adapté le contenu pour qu'il s'affiche correctement avec la syntaxe de discourse.

=> Il faut effectivement utiliser la syntaxe [img]url[/img]

Je ne suis pas au courant de ce type d'insertions, je vais me renseigner.

Les balises `[c]` et `[spoiler]` ne sont plus disponible

[2016-11-14 10:49] arnaud-morvan commented on #48
Peut importe qui le fait, il faut le faire après chaque import dit "initial", donc dès que nous passeront en mode "incrémental", nous n'aurons plus à faire ce type de manipulations.

Concernant le "Lutin1", je n'ai pas d'explication, je rappelle que ceci ne devrait avoir aucune incidence, puis qu'il sera écrasé par v6_api.

[2016-11-14 10:51] asaunier commented on #33
@arnaud-morvan il s'agit de la syntaxe indiquée dans le champ "Code d'insertion dans le forum :" des documents images, par ex http://www.camptocamp.org/images/821742/fr/un-couche-de-soleil-de-malade#data `[img=1479113831_1579162882.jpg 821742 inline]un couché de soleil de malade[/img]`

Je doute que ca ait jamais marché dans Discourse !

[2016-11-14 10:53] arnaud-morvan commented on #48
Oui, c'est l'ORM de Discourse qui semble ajouter ce 1 toute seule, s'il existe un 'lutin', je ne suis pas étonné.
L'existance de Lutin et lutin pourrait avoir des effets de bord dans discourse, ex: click sur le pseudo d'une citation qui renvoie vers le mauvais utilisateur. A contrôler je pense.

[2016-11-14 11:00] arnaud-morvan commented on #32
Concernant l'affichage des citations dans discourse, je laisse le soin à l'association de faire des recherche sur ce qu'il est possible de faire.

Ce bug n'était pas lié à une ligne vierge, mais qu'il manquait le nom d'utilisateur.

J'ai mis [quote="Citation"] pour les citation sans utilisateur.

[2016-11-14 11:03] arnaud-morvan commented on #15
Je n'ai pas exécuté le rebake sur la démo : https://github.com/c2corg/v6_forum/issues/32#issuecomment-248318602
Le problème des liens internes : ils sont à recalculer à chaque fois que l'on change le nom d'hote, et donc à chaque déplacement de la base (migration => démo) et cela demande ENORMEMENT de ressources.

[2016-11-14 13:54] arnaud-morvan opened #49 "Parse topoguide images links"
In V5 forum topoguide images are inserted in posts using :
[img=1479113831_1579162882.jpg 821742 inline]un couché de soleil de malade[/img]

Note api image proxy, already permit this :
[img]https://api.demov6.camptocamp.org/images/proxy/815721?size=SI[/img]

[2016-11-14 13:54] arnaud-morvan commented on #33
I've create a specific issue for this : #49

[2016-11-14 17:42] stef74 commented on #15
A relancer peut être une fois pour verifier que ca fonctionne bien ?

[2016-11-15 11:22] fjacon commented on #22
L'implémentation du script de normalisation des pseudo v5 a toujours été hors scope pour la SA.

Le script fourni par Guillaume permettait uniquement de pouvoir continuer à travailler sans être bloqués ou obligés de faire des bricolages fragiles de notre côté.

Si l'association adapte le script (tout en restant conforme aux règles Discourse), alors la SA fera l'effort d'adapter les règles de valid

[2016-11-15 14:14] jmarcmod commented on #48
Discourse ne distingue pas la casse pour les pseudos ; il ne peut donc pas y avoir 2 membres, l'un avec le pseudo Lutin, l'autre avec le pseudo lutin ; c'est un doublon, que Discourse gère en rajoutant un numéro 1, 2, 3 etc. voire d1, d2, d3 etc.
Mais cette gestion automatique des doublons semblant très aléatoire, mieux vaut l'inclure dans la procédure préalable de mise en conformité des pseudos V

[2016-11-15 14:21] jmarcmod commented on #15
@arnaud-morvan
Si je comprends bien, ça devrait fonctionner sur la version définitive ? bonne nouvelle !

[2016-11-15 14:26] fbunoz commented on #22
En effet.
Sauf qu'actuellement sur la démo, il y a des login qui sont migrés comme pseudos (par exemple le mien, qui n'a rien à voir avec mon pseudo forum ou pseudo topoguide, c'est donc sûr qu'il y a un bug qui a pris login_name à la place de user_name qq part). Donc on ne sait pas si le problème provient du script de normalisation (qui n'agit que sur la base V5), ou du script de migration.

[2016-11-15 14:26] stef74 commented on #48
Comme viens de l indiqué la SA c est du job côté associations donc sans
garantie que ce soit traité ... après l utilisateur peut changer. On a par
contre pas communiqué publiquement sur ce point

Le mar. 15 nov. 2016 à 15:14, jmarcmod <notifications@github.com> a écrit :

--
Sent from Gmail Mobile

[2016-11-15 14:39] stef74 commented on #15
@arnaud-morvan comment on s'assure que ca va bien fonctionner (même sur un echantillon reduit) ?

[2016-11-15 14:53] jmarcmod commented on #33
@arnaud-morvan

OK j'ai vérifié, nickel !
Sauf pour :
[ img=url ][ /img ]
Certes, ça ne passe plus sur discourse, mais il n'y a pas eu de conversion, et du coup de nombreuses images V5 ne sont plus affichées, c'est dommage.

[2016-11-15 14:56] arnaud-morvan commented on #22
Je rappelle que nous avons fixé hier un bug dans le SSO qui écrasait les username et name dans discourse avec le login du topoguide. See https://github.com/c2corg/v6_api/commit/b9d795e055b3293905d3362f847d859563e83998

[2016-11-15 14:57] jmarcmod commented on #48
@stef74

Ben si :
http://www.camptocamp.org/forums/viewtopic.php?id=297803

[2016-11-15 14:58] arnaud-morvan commented on #15
Nous sommes en train de mettre en place un serveur spécifique pour les migrations récursives, nous allons ajouter cette tâche en fin de process. Nous verrons ensuite s'il reste des problèmes.

[2016-11-15 15:07] asaunier commented on #22
Je viens de tester dans la BD v5 qu'on a utilisée pour la migration (après application du script de normalisation) :

[code]

[2016-11-15 15:21] jmarcmod commented on #42
Les doublons ont été supprimés par les modos, avant la migration pour la beta.
Donc normalement, problème résolu !

[2016-11-15 15:27] asaunier commented on #42
A part si de nouveaux doublons sont introduits d'ici à la migration finale. Dans la copie de la base v5 utilisée par la SA actuellement (vieilles de 2 ou 3 semaines), il reste 3 doublons (peut-être corrigés dans la v5 depuis ?) :

[code]

[2016-11-15 15:31] jmarcmod commented on #22
C'est effectivement ce que j'obtiens sur ma page account.
Mais sur discourse, ça se transforme en :
jmc  | jmc2
(sachant que jmc est mon login).

[2016-11-15 15:34] jmarcmod commented on #42
Pas corrigés, mais on va le faire très rapidement !

[2016-11-15 15:35] stef74 commented on #48
Tu n a pas communiqué comment serait normaliser les comptes

Le mar. 15 nov. 2016 à 16:00, jmarcmod <notifications@github.com> a écrit :

--
Sent from Gmail Mobile

[2016-11-15 15:40] arnaud-morvan commented on #33
Nous l'avons fait :
https://github.com/c2corg/discourse/blob/fe94f084bcfdf2db32cc258de84f9e4238e0f523/script/import_scripts/punbb.rb#L688
Et j'ai même contrôlé que ça fonctionnait sur quelques exemples.

Mais je m'aperçois maintenant que ceci ne passe pas, car il y a du texte entre les balises :

[code]

Lien V5 :
http://www.camptocamp.org/forums/viewtopic.php?pid=101404#p101404

A noter : il est

[2016-11-15 15:52] arnaud-morvan commented on #22
J'ai peut-être oublié de préciser que la démo n'est pas à jour !!! Mais ceci a bien été fixé par c2corg/v6_api@b9d795e

[2016-11-15 16:52] HSERGERAERT commented on #48
Nous allons avoir un nombre significatif de pseudos modifiés, je pense
qu'un % minime de contributeurs ont vu le message.
Je vais dire une grosse bêtise...

Pourquoi ne pas migrer les pseudos en 000001 à 999999 de manière
incrémentale et sans distinction, et qu'ensuite les contributeurs viennent
redéfinir leur pseudo après ? C'est dégueulasse comme méthode, équitable,
et ça permet de re-itiliser u

[2016-11-15 17:08] stef74 commented on #48
Et si on ne fait rien ... quels sont les impacts ? On a rien annoncée sur
la façon dont on normaliser.

Est ce qu il y a quelques règle a minima à implémenter.

Si il y a des doublons ca me choque pas que les deux soit transformer.

Le problème de ta règle c est qu il faut la mettre en place ( donc du job à
faire)

Le mar. 15 nov. 2016 à 17:52, HSERGERAERT <notifications@github.com> a
écrit :

--

[2016-11-15 17:15] asaunier commented on #48
Ca me semble une mauvaise solution : toutes les personnes qui ne viennent plus sur le site ne modiferont pas leur pseudo et donc plein de posts resteront attribués à 344565 ou 1234567. Pas top.

Je pense que les 2 vont devenir stef74d1 et stef74d2. Au plus rapide ensuite de rechanger à stef74 :)

A mon avis si on a pas le temps de modifier (et tester) le script SQL de normalisation, il faut l'appl

[2016-11-15 17:30] stef74 commented on #48
Je partage l avis d Alex ... faire un truc à l arrache me paraît tout sauf
une bonne idée.. il faut juste prévenir pour les doublons ( on a pas
communiquer sur ce point).

Ça va raler mais les gens vont pas se barrer pour autant

Le mar. 15 nov. 2016 à 18:15, Alex Saunier <notifications@github.com> a
écrit :

--
Sent from Gmail Mobile

[2016-11-15 18:59] jmarcmod commented on #33
Effectivement, mes tests portaient sur des images à titre.

Parfait ! La perte du titre n'est vraiment pas grave.

[2016-11-15 19:32] jmarcmod commented on #48
Effectivement, pas sur ce point. Volontairement, car pas certain du résultat, et aussi pour ne pas compliquer un post qui l'était déjà suffisamment.
A noter que personne n'a demandé comment se ferait cette normalisation ; mais c'est normal :
- soit tu vois le post, ton pseudo est conforme, alors tu t'en fiches ;
- soit tu vois le post, ton pseudo n'est pas conforme, alors tu le changes car tu ne v

[2016-11-15 19:49] stef74 commented on #48
Je vais pas rentrer dans des discours philosophique ... on est en phase d
analyse ... on étudie toutes les solutions.

Quels sont les règles qui sont plus strict ? ( le point ? Et quoi d autres)

Le mar. 15 nov. 2016 à 20:32, jmarcmod <notifications@github.com> a écrit :

--
Sent from Gmail Mobile

[2016-11-15 20:09] jmarcmod commented on #48
Difficile de savoir, puisqu'à cause du bug des pseudos, sur discourse, on ne voit pas ce qu'a fait le 1er script.
On ne le voit qu'en ouvrant son compte, donc uniquement par retour d'une dizaine de testeurs...
Il y a au moins le point, supprimé par le 1er script alors que discourse l'accepte.

Pour répondre précisément à ta question, il faudrait qu'un informaticien décripte le 1er script :
https:/

[2016-11-15 20:23] jmarcmod commented on #42
Corrigé !

@asaunier
Tu penseras à me donner, disons 24h avant le blocage de la V5, la liste d'éventuels nouveaux doublons à supprimer.

[2016-11-15 21:24] asaunier commented on #48
S'il vous plaît, un ticket n'est pas une discussion sur le forum. Merci d'échanger en privé et de ne rapporter ici que l'essentiel. Merci aussi quand vous répondez par mail de ne pas mettre tout l'historique dans le message. Ca devient illisible sinon.

A priori non, il suffirait de l'enlever de https://github.com/c2corg/v6_api/blob/master/c2corg_api/scripts/migration/create_unique_normalized_user

[2016-11-15 21:37] jmarcmod commented on #48
Ça me parait préférable au 'd' systématique : la nécessité d'un 2ème passage sera sûrement assez rare.

[2016-11-16 08:33] stef74 commented on #48
j'ai viré les commentaires qui été plus de la discussion que des elements concrets.

[2016-11-16 09:02] stef74 commented on #48
Changer la limitation de 15 à 25 est trivial. Par contre j'ai pas compris où était gerér les caratère speciaux.

Autre questions ... qu'est qui se passe si un user à pseudo non conforme qu'on a pas modifié à la migration ? message d'erreur ? tout est bloqué ? il peut modifier son pseudo ?

[2016-11-16 09:32] jmarcmod commented on #48
Je comprends, mais dommage d'avoir tout viré, car une partie de mon commentaire était concrète.

Je disais notamment que la solution d'Hervé est à proscrire, cf l'argument d'Alex : on se retrouverait avec une majorité de matricules en guise de pseudos pour les posts antérieurs à la mise en prod, et ça rendrait la lecture des anciennes discussions très difficile (outre l'aspect "policier").

Je dis

[2016-11-16 10:45] fbunoz commented on #22
Ah ben oui, nous ne regardons que la demo officielle : http://forum.demov6.camptocamp.org/
S'il y a un autre site de test plus à jour où on a le droit de tester, il faut le dire, car toutes les issues que nous remontons proviennent de tests sur la demo officielle.

[2016-11-16 11:05] arnaud-morvan commented on #22
Je vais la mettre à jour dans quelques minutes

[2016-11-16 11:16] fbunoz commented on #22
La config admin sera conservée ? Car je n'ai pas eu le temps de la sauvegarder et je n'ai plus accès à la demo.

[2016-11-16 11:21] jmarcmod commented on #22
Idem sauf que l'accès est revenu (ancienne version donc configurée) : tu peux faire des sauvegardes...

[2016-11-16 11:26] fbunoz commented on #22
Ok c'est fait.

[2016-11-16 12:56] HSERGERAERT commented on #48
Ce post est clos. Arnaud a fait passer la modif sur la Beta test ce jour vers midi.
Se déconnecter et se reconnecter sur le Topoguide/Discourse pour alignement des pseudos

[2016-11-16 12:56] #48 closed, assigned to nobody

[2016-11-16 13:15] jmarcmod commented on #48
Good job !
Ça me semble OK à première vue.

En revanche, il serait judicieux de déplacer les commentaires de cette présente issue concernant la procédure de normalisation, dans l'issue ad-hoc, à savoir [#22](url=https://github.com/c2corg/v6_forum/issues/22)

[2016-11-16 13:16] asaunier commented on #48
Ce n'est pas possible. Ce n'est pas un forum ici :P

[2016-11-16 13:41] jmarcmod commented on #48
OK , j'ai donc résumé mes remarques ci-dessus dans #22, et je les ai complétées.

[2016-11-16 13:41] jmarcmod commented on #22
Je reprend ici quelques données de l'issue [#48](https://github.com/c2corg/v6_forum/issues/48), désormais fermée.

Après quelques recherches, voici les principaux problèmes de ce script "rapide" :
https://github.com/c2corg/v6_api/blob/master/c2corg_api/scripts/migration/create_unique_normalized_usernames.sql
Il semble que l'essentiel soit dans cette ligne :
`substring(regexp_replace(unaccent(old_u

[2016-11-16 15:27] jmarcmod commented on #22
**Problème pour la modification du pseudo forum via la page account**

J'ai tenté de modifier mon pseudo forum via la page account.
J'y arrive, mais à condition de respecter les règles du script initial ; en d'autres termes, je ne peux pas mettre de point (ni de tiret, ni d'underscore) dans mon pseudo forum, ni dépasser 16 caractères ; alors que discourse l'accepte.
Est-ce à dire que ce script ne

[2016-11-16 15:38] asaunier commented on #22
Le formulaire "account" contient lui-même une validation cohérente avec celle du script de normalisation v5 : https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/account.html#L38

Pareil pour la base de données de l'API (qui fait foi) :
https://github.com/c2corg/v6_api/blob/master/c2corg_api/models/user.py#L78-L81

Si le script de normalisation est modifié il faudra aussi modifier ces

[2016-11-16 15:43] jmarcmod commented on #22
OK, comportement "cohérent" donc.
Mais pas souhaitable... Raison de plus pour améliorer ce script afin qu'il prenne vraiment en compte les règles des pseudos discourse, qui me semblent elles assez intelligentes.

Parce que tu connais bien ce modo, et donc que ton esprit détache tout de suite les 4 mots ; ce n'est pas le cas quand on tombe dessus la première fois.
Les pseudos composés doivent pouvo

[2016-11-16 16:09] JosueBock commented on #22
J.Marc : pour avoir le comportement que tu souhaites (remplacer ' ' et @ par _ ; remplacer ' et \* par .) je pense qu'il suffit d'ajouter ces 2 lignes :

update punbb_users set username = substring(regexp_replace(unaccent(old_username), '[ @]', '_', 'g'), 0, 16);
update punbb_users set username = substring(regexp_replace(username, '['*]', '.', 'g'), 0, 16);
et transformer la ligne existante :
upda

[2016-11-16 16:13] jmarcmod commented on #22
Merci Josué !
Et donc si c'est si simple, autant l'appliquer à toutes les transformations proposées :

[2016-11-16 16:30] JosueBock commented on #22
oui, le cas h) je suis pas sûr que ça fonctionne, ça dépend si 'ø' est bien reconnu comme tel. Les autres caractères ne devraient pas poser problème.

Pour supprimer plusieurs caractères spéciaux successifs, il faut ajouter encore une ligne de plus :

 update punbb_users set username = substring(regexp_replace(username, '[.-_]{2,}', '', 'g'), 0, 16);

(il y aurait moyen de conserver le premier car

[2016-11-20 14:25] jmarcmod commented on #35
Fait par fbunoz hier.

OK.
On peut donc fermer cette issue.

[2016-11-20 14:29] jmarcmod opened #50 "Tests sur smartphone"
Je n'ai fait aucun test sur smartphone (je n'en ai pas !) mais catherine, de l'Association, en a fait beaucoup.
Elle les a rapportés dans le google doc ci-dessous (en lecture seule mais ouvert aux commentaires).
Je n'ai pas le temps d'en faire une synthèse, mais si jamais vous y voyez des problèmes qui relèvent de la SA, il est peut-être encore temps d'y remédier.
https://docs.google.com/document/

[2016-11-20 14:40] #35 closed, assigned to nobody

[2016-11-20 14:45] jmarcmod opened #51 "Profil topoguide & Profil forum"
Sur la V5, il y avait un seul profil, accessible en cliquant sur le pseudo topoguide depuis le topoguide, ou sur le pseudo forum depuis le forum ; ce profil contenait des liens vers les contributions au topoguide et vers les messages du forum, et était éditable pour y ajouter textes et photos.

Sur la V6, il y a 2 profils différents :
+ le profil topoguide, accessible en cliquant sur le pseudo top

[2016-11-20 15:04] stef74 commented on #51
Merci de pas générer une issue pour ce type de demande mais éventuellement d ouvrir une discussion forum. Seul les demandes d évolution validés par la coordination/copil ( et discuter en interne) doivent être saisie

[2016-11-20 15:05] #51 closed, assigned to nobody

[2016-11-20 15:08] stef74 commented on #50
Honnêtement la SA ne va éplucher votre Google doc ... merci de remonter les bugs directement dans le ticket avec une checkbox par point ( demander de l aide côté asso si besoin) ... idéalement valide avant avec bubu si c est pas des soucis de parametrage

[2016-11-20 15:11] stef74 commented on #41
When Its ready ?

[2016-11-20 15:13] stef74 commented on #33
On peut clore ?

[2016-11-20 15:14] #32 closed, assigned to nobody

[2016-11-20 15:16] stef74 commented on #28
La SA ne fera rien dans la personnalisation/adaptation de discourse.

[2016-11-20 15:16] #28 closed, assigned to fjacon

[2016-11-20 15:20] stef74 commented on #25
Merci de refaire un ticket si il reste un point spécifique

[2016-11-20 15:20] #25 closed, assigned to fjacon, arnaud-morvan

[2016-11-20 15:23] #24 closed, assigned to nobody

[2016-11-20 15:24] #21 closed, assigned to nobody

[2016-11-20 15:25] #4 closed, assigned to nobody

[2016-11-20 15:26] #2 closed, assigned to nobody

[2016-11-20 15:27] stef74 commented on #8
Voir #48

[2016-11-20 15:27] #8 closed, assigned to nobody

[2016-11-20 15:29] #19 closed, assigned to nobody

[2016-11-20 15:36] jmarcmod commented on #33
Arnaud doit encore supprimer le titre des images V5 :

C'est donc à lui de dire si on peut fermer (le reste est OK).

[2016-11-20 15:49] jmarcmod commented on #50
Je comprends.
Je vais transmettre par mail à Bubu, vu que c2c est en rade.
_Edit :_ fait ; mais c2c réparé, donc [sujet dédié](http://www.camptocamp.org/forums/viewtopic.php?id=298494)

[2016-11-21 09:39] arnaud-morvan commented on #33
J'ai mis une étiquette "ready for démo".
J'ai fait une migration complète qui est en train de se terminer.
On pourra donc contrôler que tout est bon sur la démo cette semaine.

[2016-11-21 10:56] #40 closed, assigned to nobody

[2016-11-21 10:57] stef74 commented on #45
@arnaud-morvan issue allready exist ?

[2016-11-21 12:10] arnaud-morvan commented on #45
Seems related to available disk space. This do not append anymore on any server. Closing.

[2016-11-21 12:10] #45 closed, assigned to nobody

[2016-11-21 17:05] fbunoz commented on #15
Je n'ai pas bien pigé cette histoire de permalien (c'est ce qui se trouve ici : https://forum.demov6.camptocamp.org/admin/customize/permalinks ? )
Mais si on arrive à transformer un lien punbb en lien discourse, on peut le remplacer sans le nom de domaine :
- Si le lien est sur du texte, on ne change rien au bbcode ( [url=/t/test-again/172115]texte[/url] )
- Si le lien est nu, on ajoute les balise

[2016-11-21 17:21] arnaud-morvan commented on #49
We have to control what is actually migrated for those cases, and avoid data loss.

[2016-11-21 17:22] jmarcmod commented on #49
ex.
V6 : http://forum.demov6.camptocamp.org/t/le-jeu-du-sommet/110837/24546?u=jeanmarc
V5 : http://www.camptocamp.org/forums/viewtopic.php?pid=2214098#p2214098

[2016-11-21 17:25] arnaud-morvan commented on #49
No data loss, but images are not visible and no links.
This should be handled after Go Live.

[2016-11-21 17:37] arnaud-morvan commented on #15
Merci de donner les exemples en V5 car je n'y ai pas accès, si possible avec le lien vers le post en question.

[2016-11-21 18:24] jmarcmod opened #52 "Migration des liens internes au forum postés "à la main""
@arnaud-morvan : voici comme convenu des exemples de liens internes "à la main" qui sont cassés sur la beta.
Une redirection sera-t-elle possible ?

Sur la V5, il y a 3 types de liens internes postés à la main :
1) lien vers une autre discussion
2) lien vers un message d'une autre discussion
3) lien vers un message de la même discussion

De plus, ces liens peuvent avoir ou non un titre, soit 6 acs

[2016-11-21 18:29] jmarcmod commented on #15
Comme stef74 voulait que je crée une issue dédiée, voici des exemples de liens cassés V5/V6 : [#52](https://github.com/c2corg/v6_forum/issues/52)

[2016-11-21 18:36] fbunoz commented on #15
Des exemples de liens internes au forum V5 : http://www.camptocamp.org/forums/viewtopic.php?pid=1283509#p1283509
C'est le post qui annonce cette fonctionnalité. Depuis, tous les liens internes sont automatiquement transformée selon cette syntaxe à l'enregistrement du post, depuis je ne sais plus quelle date.

[2016-11-22 14:18] arnaud-morvan commented on #49
After the last migration which take care of images with title attribute:
[code]
see : http://www.camptocamp.org/forums/viewtopic.php?pid=2214098#p2214098

is replaced by
[code]
see: http://datamigration.exoscale.infra.camptocamp.org/t/le-jeu-du-sommet/110838/24546

[2016-11-22 16:46] arnaud-morvan commented on #52
Je peut proposer ceci :
[code]
ca remplace par exemple``#t500`` par ``[url]/viewtopic.php?id=500[/url]`` et, par le méchanisme des permaliens, les liens fonctionnerons dans la V6.

[2016-11-22 16:47] arnaud-morvan commented on #52
Sauf peut-être pour les liens sur les topics des commentaire du topoguide car le premier post est créé pendant la migration.

[2016-11-22 18:38] jmarcmod commented on #49
Je n'y ai pas accès, il faut se logger et mes identifiants habituels ne marchent pas.
Tu peux faire une copie d'écran de ce que ça donne ?

[2016-11-22 18:42] jmarcmod commented on #52
Super !

Tant pis pour les commentaires du topoguide, ils ne doivent pas contenir beaucoup de liens forums. Ils contiennent plutôt des liens topoguide (vers une sortie ou un iti), et là les permaliens fonctionneront j'imagine.

[2016-11-23 09:22] arnaud-morvan commented on #52
Je parle des liens dans les forums modo (#t99999) qui pointent vers un topic de commentaire qui devraient, en V6, pointer sur le second post car le premier est créé pendant la migration. Ceci dit, j'ai pas eu le temps de tester.

[2016-11-23 09:23] arnaud-morvan commented on #49
Je ne peut plus, je viens de relancer la migration, tu le verra dans une semaine.

[2016-11-23 10:27] jmarcmod commented on #52
OK. Dans ce cas je dirais aussi que ce n'est pas trop grave, car la modération des commentaires, depuis les forums modos forum ou modos topoguide, et qui génère ce type de liens, est en général ponctuelle dans le temps, donc obsolète après quelques semaines.
Au pire ce serait gênant pour des modérations de ces dernières semaines, mais les modos forum retrouveront vite le doc mère d'après le conten

[2016-11-23 10:31] jmarcmod commented on #52
@stef74 : cette issue est finalement 6.0 puisqu'elle vient d'être traitée ; on pourra la tester sur la version définitive dans 1 semaine.

[2016-11-23 10:32] jmarcmod commented on #49
@stef74 : cette issue est finalement 6.0 puisqu'elle vient d'être traitée ; on pourra la tester sur la version définitive dans 1 semaine.

[2016-11-23 10:40] jmarcmod commented on #51
@stef74 : tout le monde est désormais convaincu à l'Association de la nécessité de cette évolution.
Pourrait-on rouvrir l'issue en la mettant en 6.1 ?

NB : d'après Alex, le lien sur le profil topoguide est facile à faire ; la difficuté c'est le lien sur le profil forum, car sur discourse, l'ID c2c des contributeurs n'est pas dispo, on n'a donc que le pseudo topoguide pour rechercher le profil top

[2016-11-23 10:55] arnaud-morvan commented on #49
Non, elle n'a pas été traitée, les liens sont légèrement modifiés par la migration, mais ne seront pas affichés correctement dans la V6.0.

[2016-11-23 11:19] stef74 commented on #51
Il faut creer 2 issues en étant simple et concis (pas besoin de jsutifier le pourquoi du comment ... juste ce qu'il faut faire).
Une coté UI pour le lien vers le forum
Une coté forum pour les liens vers le topo

On verra la planification ensuite.

[2016-11-23 11:29] jmarcmod commented on #49
OK, j'avais mal compris.

@stef74 : désolé pour le dérangement, ça reste bien en 6.1

[2016-11-23 11:31] jmarcmod commented on #51
Compris, je vais faire ça.

_Edit :_ @stef74 : done.
Forum : [#54](https://github.com/c2corg/v6_forum/issues/54)
UI : [#973](https://github.com/c2corg/v6_ui/issues/973)

[2016-11-23 12:48] mfournier opened #53 "docker image"
We need a pre-built image published on dockerhub that we can "simply" pull and run.

[2016-11-23 13:15] arnaud-morvan commented on #53
I've just tried to push image on docker hub :
[code]
But I do not have push access on docker hub.

[2016-11-23 13:19] jmarcmod opened #54 "Profil et Préférences : liens forum -> topoguide"
**1) Sur la page profil forum, il faudrait ajouter un lien vers la page profil topoguide.**
- ex. mon profil forum : https://forum.camptocamp.org/users/J.Marc/summary
- ex. mon profil topoguide : https://www.camptocamp.org/profiles/9354/fr

_(J.Marc = pseudo forum, 9354 = ID contributeur)_

La difficulté selon Alex est que sur Discourse, si on a accès au pseudo topoguide (par ex. _J.Marc_ en ce qu

[2016-11-23 13:20] arnaud-morvan commented on #53
I'm try to run the local commited image using a test composition ...

[2016-11-23 14:08] arnaud-morvan commented on #53
I've tried it, but this is completely outside my skills

[2016-11-24 08:29] fjacon commented on #22
@arnaud-morvan : work in progress ?

[2016-11-24 09:12] arnaud-morvan commented on #22
Yes, working on

[2016-11-24 16:42] arnaud-morvan commented on #22
Not sure about that we can do in the UI, simply remove the regex and API will do the validation.

[2016-11-24 21:57] asaunier commented on #22
Do you mean the ``ng-pattern`` at https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/auth.html#L77 ?

What about having a minimal regex to catch "easy" errors (list of accepted characters)? The API will handle more complex errors.

[2016-11-25 07:53] fbunoz commented on #52
Ok, si ça fonctionne (ça veut dire plusieurs dizaines ou centaines de milliers de permaliens...).
Lors de la migration, les citations sont correctement migrées.
Sur la V5, une citation comporte un lien vers le post d'origine.
Sur la V6, il y a toujours ce lien, et il est migré correctement, alors que tous les Id des posts et des topics ont changé (c'est une vraie migration en changeant l'ID dans l

[2016-11-26 10:07] jmarcmod commented on #54
@stef74
Cette issue comporte une partie facile à savoir la 2. Sera-t-elle prise en compte pour le go live ou la 6.1 ?
Peut-être aurais-je dû faire deux issues séparées, la 1ère semblant plus complexe ?

[2016-11-29 14:26] jmarcmod commented on #22
**Migration du 28/11**
Pas d'amélioration, c'est toujours l'ancien script qui refuse point, tiret et underscore et limite à 15 caractères.
Est-ce qu'il y aura au moins la possibilité de modifier le pseudo forum dans ce sens via la page compte topoguide ?

[2016-11-29 14:27] jmarcmod commented on #41
**Migration du 28/11**
A venir j'imagine ? car ne concerne pas la migration.

[2016-11-29 14:27] jmarcmod commented on #33
**Migration du 28/11**
C'est OK maintenant pour les images avec titre (le titre est enlevé, l'image s'affiche).

[2016-11-29 14:28] jmarcmod commented on #52
**Migration du 28/11**
Ils ont bien été modifiés, reste à voir si les permaliens permettront d'activer ces liens.
Voici ce que sont devenus mes 3 exemples (le 3ème avec titre) :
http://datamigration.exoscale.infra.camptocamp.org/t/sorties-trail/170311/9
`[url]/viewtopic.php?id=296126[/url]`
http://datamigration.exoscale.infra.camptocamp.org/t/ce-que-vous-avez-appris-aujourdhui/138033/436
`[url]/vi

[2016-11-29 14:37] jmarcmod opened #55 ""comments" tous datés du 26/11/16"
**Migration du 28/11**
La page "latest" (toutes catégories confondues) est squattée par les "comments" qui sont tous datés du 26 novembre.
Pour les autres catégories, tout semble normal (date V5).
Est-ce dû au statut particulier de ces discussions ?
Peut-être supprimer les comments puis refaire un import correct de ces comments ?

[2016-11-29 14:40] HSERGERAERT commented on #22
Je ne sais pas dire si la modif est passée sur demov6, je pose la question
demain.

Hervé

Le 29 novembre 2016 à 15:26, jmarcmod <notifications@github.com> a écrit :

[2016-11-29 15:03] jmarcmod commented on #15
Issue à fermer car désormais gérée dans la [#52](https://github.com/c2corg/v6_forum/issues/52) .

[2016-11-29 15:05] arnaud-morvan commented on #55
Pour les commentaires nous créons le premier post (avec le lien vers le document topoguide) lors de la migration.
Je vais faire une requête SQL pour mettre la date du premier post V5 (second post V6) dans le premier post V6.

[2016-11-29 15:05] jmarcmod commented on #53
De quoi s'agit-il ? comme c'est labellisé "bloquant", ce soit être important ?

[2016-11-29 15:12] mfournier commented on #53
On Tue, Nov 29, 2016 at 07:05:34AM -0800, jmarcmod wrote:

Pour résumer, on n'est pas (encore) en mesure d'installer discourse sur
l'environnement cible pour la prod.

[2016-11-29 16:03] #15 closed, assigned to nobody

[2016-11-29 16:05] stef74 commented on #22
La partie UI sera mise a jour demain.

[2016-11-29 16:06] #33 closed, assigned to nobody

[2016-11-29 18:11] stef74 commented on #41
Juste test on safari ... is Ok but little issue on mobile the "hamburger" is not same and the order in topoguide is Hamburger / Logo , in discourse Logo / hamburger.

Probably to close this issue and reopen it with less priority.

[2016-11-29 18:31] stef74 opened #56 "discourse menu"
- [x] With Safari in mobile, hamburger and order with logo is different betwen forum and topoguide
![capture d ecran 2016-11-29 a 19 29 28](https://cloud.githubusercontent.com/assets/3962997/20723284/38b5c8ea-b66a-11e6-9a4e-93a4568f4bbd.png)
- [ ] incorrect position of the "close menu" button with FF in mobile screens

[2016-11-29 18:32] stef74 commented on #41
bug report : #56

[2016-11-29 21:53] asaunier opened #57 "Authentication errors"
It seems that it's no longer possible to authenticate on the forum.

* If I log in from the UI, I'm authenticated in the UI but not in Discourse.
* If I log in from Discourse, I am redirected to a blank page with error ``Votre compte est en attente d'approbation. Vous recevrez une notification par courriel lorsque vous êtes approuvé.``. If I then go to the UI, I am correctly authenticated, but sti

[2016-11-29 22:09] asaunier commented on #56
* [x] the menu icons are no longer visible (tested with Chrome and FF) (it was OK earlier when we discussed the menu PR - don't know what happened in the meantime?)

<img width="322" alt="capture d ecran 2016-11-29 a 23 08 20" src="https://cloud.githubusercontent.com/assets/1192331/20731066/ed85f8a8-b688-11e6-8b80-acf38c594a15.png">

[2016-11-29 22:51] asaunier commented on #57
@fbunoz has found the problem in the admin interface and fixed it.

[2016-11-29 22:51] #57 closed, assigned to nobody

[2016-11-29 22:59] fbunoz commented on #57
The problem was caused by a change in an admin setting :

Staff must approve all new user accounts before they are allowed to access the site. WARNING: enabling this for a live site will revoke access for existing non-staff users!

This setting has been actived this afternoon.
It is usefull for the final migration forum, but for the demo it is not necessary.
I desactived this setting.

[2016-11-30 08:27] ginold commented on #56
- already ok for icons (2 styles were active in the same time, probably one overwrote the other somewhere)
- when the demo will be updated, the UI and forum menus will have both the same order on mobile (logo - hamburger). The new version is only visible on the forum for now. I can update the style later.

[2016-11-30 08:29] ginold commented on #56
The style of the button on mobile is not the same, because it plays well with the other buttons on discourse, on the right. But up to you if you want it to be exactly as on the UI.

[2016-11-30 10:28] jmarcmod commented on #22
**Visiblement, le 1er script de normalisation tient compte de la casse pour la détection des doublons, alors que discourse ignore la casse.**
Exemple décelé sur la beta :
+ pseudo forum Loic sur la V5
+ pseudo forum Loic sur le topoguide
+ pseudo forum Loic1 sur discourse

Explication : il y a aussi sur la V5 un pseudo forum LOIC ; le script utilisé lors de la migration n'a pas vu de doublon, puis

[2016-11-30 10:37] jmarcmod commented on #56
Idem chez moi (FF) malgré un grand écran (1920).

[2016-11-30 10:44] ginold commented on #56
C'est la 3ème fois que je réactive les styles, je ne comprends pas... reéssayez maintenant.

[2016-11-30 10:58] asaunier commented on #56
OK for me now.

[2016-11-30 11:03] jmarcmod commented on #56
OK pour moi aussi désormais.
L’icône du bouton "forum" est désormais une bulle et non un hamburger, mais j'imagine que c'est voulu.

[2016-11-30 11:52] arnaud-morvan commented on #22
Avec https://github.com/c2corg/v6_api/pull/531 puis https://github.com/c2corg/v6_api/pull/547 nous avons ajouté un index unique sur le forum_username en minuscules dans la base topoguide.
Le script de migration utilise le même index unique en minuscules, et fait toutes ses comparaisons en minuscules.

[2016-11-30 12:17] ginold commented on #56
Effectivement, je trouve qu'une bulle-commentaire est plus appropriée au `Forum` qu'à l'`Association` (sera pareil sur la démo après la mise-à-jour).

[2016-11-30 12:23] ginold commented on #56
- [x] UI and Forum: if on tablet, when you hover with mouse on the icons, the tooltip is cut.

[2016-11-30 12:23] jmarcmod commented on #22
Good job !

[2016-11-30 14:11] fbunoz commented on #41
Please, don't remove the "design v6" CSS in the Discourse admin on the demo, as it is the design for the forum (without menu), that the association is going to dev.
I saved the CSS, but to allow testing the design by the association, it must be used on the demo.

[2016-11-30 14:37] ginold commented on #41
I brought them back (i don't have the names anymore -> it's css1, css2).

[2016-11-30 18:10] fbunoz commented on #56
Le design du forum que j'ai ajouté cache le menu hamburger quand on est en mobile en portrait. Mais si je le désactive, c'est bon.
Je corrigerai ce problème, mais je n'ai pas encore trouvé la cause.

[2016-11-30 21:18] jmarcmod commented on #22
Sur la beta, je vois que le nouveau script fonctionne (au moins pour point, tiret, underscore).

[2016-11-30 21:19] jmarcmod commented on #56
Mais ce soir les icônes sont de nouveau partis.

[2016-11-30 21:25] asaunier commented on #56
En effet.

@fbunoz est-ce que tu n'aurais pas remis tes adaptations de styles ? Peut-être que certaines entrent en conflit avec le menu et font disparaître les icones ?

[2016-11-30 22:04] fbunoz commented on #56
En effet je l'ai remis. C'est facile à voir : si la barre du haut à une bordure orange, c'est que le design du forum est activé.

Bon ben ya plus d'impact que je pensais (c'est quand même bizarre).

[2016-11-30 22:51] jmarcmod commented on #22
En revanche on ne peut plus changer son pseudo forum : message d'erreur dans account :
[code]

[2016-12-01 06:28] HSERGERAERT commented on #22
My pseudo forum is Lutin on v5
My pseudo forum was Lutin1 in the previous Beta version.
Now it becomes Lutin11310 (??!)
As mentionned in the previous post, right now it cannot be changed.
I'm lost with the last modifications, and honestly a bit worried.

[2016-12-01 07:38] arnaud-morvan commented on #22
I've followed the instructions here : https://github.com/c2corg/v6_forum/issues/22#issuecomment-222550729
We have applied strictly the same constrains as in discourse.
I was unable to handle problems such as :
michel => michel
michel => michel2
michel => michel3
and
michel2 => michel2
So I've used the ID of user as suffix.

Concerning the error with discourse, I will investigate ASAP.

[2016-12-01 07:58] HSERGERAERT commented on #22
ID of the user as suffix explains why now my forum pseudo becomes Lutin11130, fine with me.

[2016-12-01 11:52] fbunoz commented on #56
C'est corrigé.
Ce n'était pas du tout les règles que j'ai ajouté qui étaient en cause.
Mais juste en changeant l'ordre des CSS (CSS du forum après le CSS du menu), ça fonctionne, sans toucher à aucune règle !
C'est peut être du à l'import du CSS de bootstrap ?
En tout cas ça marche. 2-3 petites corrections à faire pour le menu sur mobile (marges à corriger), et ce sera bon.

[2016-12-02 21:18] mfournier commented on #53
Interesting read on this topic: https://meta.discourse.org/t/can-discourse-ship-frequent-docker-images-that-do-not-need-to-be-bootstrapped/33205

I'm pretty sure we'll find a way to install this beast properly (ie: so that we can have redundancy and reproducibility).

[2016-12-06 09:52] fbunoz opened #58 "Automatic email and url domain config"
Some users (all users ?) have received a mail with a summary of last forum activity.
This feature has been turned off in admin config, but maybe these email were sent before an admin changes the config (juste after an update which reset the config, etc), and were in standby in a server before the server has been configured correctly ?
The problem is that this mail contains link to http://forum.cam

[2016-12-06 10:02] arnaud-morvan commented on #58
When we bootstrap the discourse app, there is a settings DISCOURSE_HOSTNAME that I've set to ``forum.camptocamp.org``, but I do not find setting for the scheme (HTTP / HTTPS).

[2016-12-06 14:22] arnaud-morvan commented on #58
Maybe we should check ``force https`` in settings / security

[2016-12-06 17:11] arnaud-morvan commented on #34
Nous avions abordé le fait de supprimer tous les abonnements (notifications) créés lors de la migration (par exemple le créateur du topic est abonné).
Il suffit de faire :
[code]
Est toujours d'actualité ?

[2016-12-06 17:12] arnaud-morvan commented on #34
@stef74 @jmarcmod @fbunoz : un avis ?

[2016-12-06 18:28] jmarcmod commented on #34
Je n'ai pas pas tout compris ce qu'il était techniquement possible de faire.
Mais l'idée c'est :
- abandon des abonnements souscrits sous la V5 (ces abonnements étaient d'ordre volontaire) ;
- sur discourse, mode watching par défaut pour tous les sujets qu'on a créés sur la V5.
NB : le forum est déjà configuré pour que le mode watching soit le mode par défaut pour les sujets qu'on a initiés, mais

[2016-12-07 09:32] asaunier opened #59 "Discourse menu config for prod"
Make sure that the HTML code used for the sidemenu uses the actual prod base URL, not the demo one:
https://github.com/c2corg/v6_ui/blob/master/less-discourse/menu.html#L2

[2016-12-07 09:42] arnaud-morvan commented on #34
Pour les données migrées de la V5, la règle semble être la suivante est la suivante :

Pour les sujets :
- Le créateur du sujet est en Watching (Abonné)
- Les personnes qui ont répondu sont en Tracking (Suivi - Le nombre de nouvelle réponse est affiché pour ce sujet)

Pour les catégories :
Par de règles définies, il semble tout de même que certains utilisateur aient placé les categories "Commentai

[2016-12-07 10:12] asaunier commented on #59
Fixed by @arnaud-morvan

But there is also this change to do: https://github.com/c2corg/v6_ui/pull/1122/files

[2016-12-07 10:20] jmarcmod commented on #34
Parfait : on ne touche à rien.

Je crois que c'est Bubu qui l'a fait par défaut, mais à titre expérimental.
On va sans doute l'enlever.

[2016-12-07 10:55] asaunier commented on #59
Fixed also by @arnaud-morvan

[2016-12-07 10:55] #59 closed, assigned to fbunoz, arnaud-morvan

[2016-12-07 11:06] fbunoz commented on #59
Sorry, I can't access to the prod until tonight (I can't modify the hosts config here).

[2016-12-07 12:36] jmarcmod commented on #55
@arnaud-morvan
Sur la version de prod du jour, les derniers commentaires (post 21/11) sont encore tous datés d'il y a 2 jours, et ce depuis 2 jours.
Peut-être faut-il refaire la requête SQL ?

[2016-12-07 14:35] #34 closed, assigned to nobody

[2016-12-07 14:57] jmarcmod commented on #55
Par ailleurs je vois 2 commentaires qui viennent d'être créés (15h15), et qui ne sont attachés à aucune catégorie, à savoir 660519_fr et 471244_fr.

_Edit :_ ce petit soucis semble quant à lui résolu.

[2016-12-07 22:55] jmarcmod opened #60 "Mode silencieux intempestif"
Ces 2 jours sur la demo comme sur la prod, je m'étonnais de ne pas retrouver des centaines de topics dont je me souvenais.
Après recherche, ils étaient en mode silencieux (donc absents des listes de topics style "récents", mais trouvables par recherche forum).
Pourtant je n'ai mis en silence aucune catégorie (à part les commentaires sur la demo).
Et je pense que ça touche plusieurs utilisateurs, m

[2016-12-08 05:54] jmarcmod commented on #60
J'ai compris : il y a 2 jours, j'ai cliqué dans "non lus" sur "ignorer" en cochant la case (" Arrêter de suivre ces sujets, ils ne s'afficheront donc plus en "non lu" pour moi") ; je pensais retrouver ainsi le mode de fonctionnement V5 quand on clique sur "marquer tous les sujets comme lus".
Ça aurait dû me faire passer en mode "normal" je pense, mais visiblement ça a laissé normal en normal, et c

[2016-12-08 10:20] tonio opened #61 "Broken notification link"
Connected on the forum, I got a notification
«Vous avez gagné Basic User», linked to https://forum.camptocamp.org/badges/1/basic?username=toni0

Looks like a broken link:

![screenshot from 2016-12-08 11-20-04](https://cloud.githubusercontent.com/assets/21686/21006243/52d90f1e-bd38-11e6-832b-6db0022c7ac5.png)

[2016-12-08 10:27] stef74 commented on #61
On which page do you connect ?

[2016-12-08 10:30] tonio commented on #61
https://www.camptocamp.org/auth-sso

[2016-12-08 10:39] asaunier commented on #61
@stef74 Go to the forum > click on your user account in the top right corner > click on "Vous avez gagné Basic User" > you get such a page.

Perhaps a Discourse setting error? Are those badges actually available?
@fbunoz what do you think?

[2016-12-08 10:54] fbunoz commented on #61
It's normal.
The badge was not active.
But they were active during migration,  then all users with posts have
received some badge...

Le 8 déc. 2016 11:39, "Alex Saunier" <notifications@github.com> a écrit :

[2016-12-08 14:32] mgerbaux commented on #41
Menu is not available on small screen ; https://forum.camptocamp.org/t/v6-sur-android/173318
(and camptocamp logo does not link to anything)

[2016-12-08 20:54] stef74 opened #62 "mail answering"
I try to answer by email

but

Delivery to the following recipient failed permanently:

     replies+c828bfc6c0227f1daf11fbcd7da20f4f@camptocamp.org

Technical details of permanent failure:
Google tried to deliver your message, but it was rejected by the server for the recipient domain camptocamp.org by aspmx.l.google.com. [2a00:1450:400c:c09::1b].

The error that the other server returned was:
55

[2016-12-09 14:44] arnaud-morvan opened #63 "Is redis DB snapshot needed / useful"
Droppping the redis cache could result in a sidekiq / PostgreSQL overload.
Should be insvestigated.

[2016-12-09 14:53] arnaud-morvan commented on #62
There is some settings to fill in discourse for pop3 polling:
https://forum.camptocamp.org/admin/site_settings/category/email

And not all are filled (username, password).
But something should be also configured on camptocamp.org email server.

[2016-12-10 07:33] jmarcmod commented on #60
On peut fermer cette issue, qui a surtout montré que celui qui l'a ouverte n'est qu'un gros boulet ;)
On peut cliquer sur "ignorer" ! faut juste pas cocher la case optionnelle qui va avec...

NB : je vois que j'ai le pouvoir de fermer moi-même les issues que j'ai initiées, donc je le fais.

[2016-12-10 07:33] #60 closed, assigned to nobody

[2016-12-10 07:41] jmarcmod commented on #55
Ça n'a pas été corrigé, mais ça ne concerne qu'environ 60 commentaires (entre le 21/11 et le 5/12), qui ont donc un retard de datation d'au plus 2 semaines... ils sont maintenant descendus loin dans la chronologie, donc ne squattent plus les listes "récents" ; et surtout, la datation est correcte dans le fil de commentaires du document.

Je ferme donc cette issue.

[2016-12-10 07:41] #55 closed, assigned to nobody

[2016-12-10 07:43] jmarcmod commented on #22
Le nouveau script de normalisation a très bien fonctionné.
Merci à la SA d'avoir accepté de le coder à l'arrache !

@stef74 : issue à fermer je pense.

[2016-12-10 07:47] jmarcmod commented on #42
@stef74 :
Issue à fermer stp.

[2016-12-10 07:52] jmarcmod commented on #52
@arnaud-morvan :
Quand est-il prévu de faire tourner le script qui transformera les liens V5 en liens V6 grâce aux permaliens ?

@stef74 : cette issue n'est pas go live, c'est au moins 6.1.

[2016-12-10 07:55] jmarcmod commented on #56
OK maintenant :)

@stef74 : à fermer ?

[2016-12-10 07:57] jmarcmod commented on #27
Tous ces points sont inhérents à Discourse.
Même l'association ne peut rien y faire.
Il y a juste à espérer que les MAJ de Discourse corrigerons petit-à-petit ces défauts.

Je ferme cette issue.

[2016-12-10 07:57] #27 closed, assigned to fjacon

[2016-12-10 08:00] jmarcmod commented on #61
Ce sont les badges que chacun a reçu à l'ouverture de la V6.
Bubu a désactivé les badges, on est tranquille maintenant (c'est juste pas rétroactif).
Les notifications dédiées disparaitront dans la chronologie.

@stef74 : issue à fermer.

[2016-12-10 08:16] #42 closed, assigned to fbunoz

[2016-12-10 13:17] lbesson opened #64 "Mixed content warnings"
Images not hosted on camptocamp from a non https domain cause mixed content warnings (ex: https://forum.camptocamp.org/t/camo/149235)

On v5, we used [camo](https://github.com/atmos/camo), an instance is already up and running (though camo.camptocamp.org is currently redirected to camptocamp.org)

We should enable this with discourse (don't know exactly how hard it is or not)

[2016-12-10 13:26] lbesson opened #65 "tag page display broken"
https://forum.camptocamp.org/tags/v5-is-best

[2016-12-10 16:09] #56 closed, assigned to nobody

[2016-12-10 21:43] mfournier commented on #62
I'll take care of this, we've discussed this today with @fbunoz.

[2016-12-12 07:22] mfournier opened #66 "reconfigure nginx to support PROXY protocol"
Something along the lines of what is described here is needed: https://www.nginx.com/resources/admin-guide/proxy-protocol/

[2016-12-12 07:51] fbunoz opened #67 "Discourse config update has no effect"
Normaly, a change in the Discourse config (design, translation, ...) has an effect immediately.
But since 9 dec PM, after ~1-2h, the config is reverted to the config of 9 dec AM.
it seems that some generated files in a cache are regulary updated with an old version.
For example, the custom CSS : https://forum.camptocamp.org/site_customizations/7e202ef2-56d7-47d5-98d8-a9c8d15e57dd.css?target=deskto

[2016-12-12 07:53] fbunoz commented on #65
The bug is fixed in the discourse config, but another bug make it can't be visible in the prod : https://github.com/c2corg/v6_forum/issues/67

[2016-12-12 07:55] asaunier commented on #67
Wouldn't it be a problem with the Discourse Docker container that would be reset to a given state again and again?

[2016-12-12 08:02] mfournier commented on #67
On Sun, Dec 11, 2016 at 11:55:50PM -0800, Alex Saunier wrote:

No, discourse's container itself holds no state, everything which needs to
be persisted is stored in external volumes (ie: a directory outside of
docker's scope) or in a database (postgresql & redis).

Further than that, the discourse container itself hasn't been restarted
since 2016-12-07T22:49:19.533+01:00.

[2016-12-12 08:05] fbunoz commented on #67
Maybe, I don't know how it works.
To know if the last version is used, check this page : https://forum.camptocamp.org/latest
There should be a column with avatars.

[2016-12-12 13:22] arnaud-morvan commented on #52
Ceci est déjà plus ou moins dans la boite, reste à bien tester avant de l'exécuter. Pas sur de trouver le temps cette semaine.

[2016-12-12 22:43] fbunoz commented on #52
Vous avez fait du bon boulot, visible sur la démo !
Mais il y a des problème avec les lien vêtis (lien sur du texte) :
https://forum.demov6.camptocamp.org/t/amelioration-du-topoguide/69118/52 (lien en bas du post).
On a des trucs du style : [url=[url]/viewtopic.php?id=136706[/url]+]recueil des problèmes d'affichage du site[/url]
En corrigeant en [url=/viewtopic.php?id=136706]recueil des problèmes

[2016-12-15 10:16] fbunoz commented on #67
The bug always exist.
Then, the change on the menu (add "outing" item") is not visible on forum (whereas the change has been done in the admin interface).

[2016-12-15 13:45] brunobesson opened #68 "Image comments"
The first system generated comment contains no link to image document in topoguide. See e.g. https://forum.camptocamp.org/t/832152-fr/174324/2 for https://www.camptocamp.org/images/832152/fr/-

[2016-12-15 16:31] #22 closed, assigned to arnaud-morvan

[2016-12-18 11:33] jmarcmod commented on #47
Issue à fermer.

[2016-12-18 11:34] #50 closed, assigned to nobody

[2016-12-18 11:36] jmarcmod commented on #20
Issue à fermer.

[2016-12-18 11:43] jmarcmod opened #69 "Préférences forum : lien vers la page compte topoguide"
**Sur la page préférences forum, il faudrait ajouter un lien vers la page compte topoguide.**
Avec un intitulé du genre "Pour modifier votre mot de passe, votre adresse mail ou vos pseudos".
- ex. ma page préférences forum : https://forum.camptocamp.org/users/j.marc/preferences
- ex. ma page compte topoguide : https://www.camptocamp.org/account

_(j.marc = pseudo forum sans casse)_

Techniquement

[2016-12-18 11:44] jmarcmod commented on #54
J'ai créé une issue dédiée pour la partie triviale, à savoir la 2) : [#69](https://github.com/c2corg/v6_forum/issues/69).

[2016-12-18 11:47] jmarcmod commented on #62
Je confirme : impossibilité de répondre par mail lorsqu'on reçoit une notification par mail, que ce soit pour un MP ou pour un post du forum.

[2016-12-18 11:51] jmarcmod commented on #67
Si j'ai bien compris, aucune modif de design ne peut plus être enregistrée depuis le 9 décembre.
Ca concerne entre autres les tags, le menu "sorties" à gauche, l'avatar du dernier posteur dans les listes de discussions, le nettoyage des "récents" et "non lus", les boutons ou boîtes qui s'ouvrent en partie hors de l'écran à droite etc.

[2016-12-18 11:53] jmarcmod commented on #65
Issue à fermer, car corollaire de l'issue #67.

[2016-12-18 12:01] jmarcmod opened #70 "Transfert de connexion topoguide -> forum"
**Bug à traiter en priorité !**

Depuis 2 jours (16 décembre), un bug de connexion touche de nombreux contributeurs, de manière assez aléatoire : connexion OK sur le topoguide, mais pas de connexion sur le forum ; et une tentative de connexion depuis le forum aboutit à :

Divers navigateurs concernés (dont Firefox) ; supprimer cookies et vider cache, ou recharger simplement la page, semblent inopé

[2016-12-18 13:17] #65 closed, assigned to nobody

[2016-12-18 13:20] jmarcmod opened #71 "Balise "details""
La balise "details" (qui remplace la balise "spolier" de la V5) bugue dès qu'il y a plusieurs lignes à masquer.

1) Si on utilise le bouton dédié : elle s'inscrit ligne par ligne, au lien de prendre l'ensemble du bloc.

Exemple : https://forum.camptocamp.org/t/recueil-des-bugs-du-forum/173600/115
Pour le bloc du milieu, entre 'DEBUT' et 'FIN', via le bouton dédié, la balise s'inscrit 3 fois (1 foi

[2016-12-18 13:21] #47 closed, assigned to nobody

[2016-12-18 13:29] jmarcmod opened #72 "Passages à la ligne cassés dans les citations"
Lorsqu'on cite un texte, les passages à la ligne sont cassés, et il n'y a même pas d'espace pour séparer les 2 lignes d'origine.
Exemple : https://forum.camptocamp.org/t/recueil-des-bugs-du-forum/173600/114

Plus généralement, les citations cassent toute la mise en forme.

**Bug Discourse, à leur faire remonter ?**

[2016-12-18 13:47] jmarcmod opened #73 "Compteur de notifications"
Si on a par exemple 3 nouvelles notifications, le compteur à côté de l'avatar dans le menu indique bien 3.
Mais dès qu'on ouvre une notification, le compteur passe à zéro (ou plutôt disparait), alors qu'il reste 2 notifications à ouvrir.

**Bug Discourse à leur faire remonter ?**

[2016-12-18 13:49] jmarcmod opened #74 "Parasitage des url : extension ?u=pseudo"
Lorsqu'on récupère l'url d'un post en cliquant sur la date, à la fin de l'url on obtient ?u=pseudo (avec pseudo = mon pseudo).
Le lien fonctionne, mais c'est un parasitage visuel.
Exemple : https://forum.camptocamp.org/t/recueil-des-bugs-du-forum/173600/118?u=j.marc

**Bug Discourse à leur faire remonter ?**

[2016-12-18 13:56] jmarcmod opened #75 "Barre "X sujets récents. Cliquez pour afficher" buguée"
Ex. : `19 sujets récents. Cliquez pour afficher.`
Cette barre qui apparait régulièrement en haut des pages "récents" masque parfois le 1er topic de la liste.
Mais surtout elle est buguée : quand on clique dessus, au lieu de donner les 19 sujets les plus récents, et de rafraichir la page, ça donne la page telle qu'elle était quand la barre est apparue, bref un retour dans le passé, et de plus, les

[2016-12-18 13:57] jmarcmod opened #76 "Copié-collé de texte depuis un fichier"
Lorsque l'on copie-colle du texte depuis un fichier, les passages à la ligne sont transformés en saut de ligne.

**Bug Discourse à leur faire remonter ?**

[2016-12-18 14:16] jmarcmod opened #77 "Bouton FAQ"
Le bouton [FAQ](https://forum.camptocamp.org/faq) est initialement dans le menu "brochette", en haut.
Mais dès 1ère lecture, il passe tout en bas, après la liste des catégories (donc quasi-introuvable).
Il faudrait le fixer en haut.

[2016-12-18 14:26] jmarcmod opened #78 "Bouton "modifier le pseudo" en mode admin"
Dans la page admin d'un profil utilisateur (pour modos forums), il faudrait supprimer le bouton "modifier le pseudo", puisque c'est impossible via Discourse.
Or toute la manip est faisable, sauf la fin évidemment, où on reçoit le message d'erreur :

Autant que ce ne soit pas tentable.

[2016-12-18 14:54] jmarcmod opened #79 "Evolution des menus"
Le menu 'Forum' de la colonne gauche, facilement accessible depuis toute page du forum, pourrait être déroulant, avec en sous-menu :
- Tags
- Récents
- Non lus
- Nouveaux
- Créer un sujet

[2016-12-18 14:56] jmarcmod opened #80 "Recherche forum limitée à 50 résultats"
La recherche forum renvoie un maximum de 50 résultats ; impossible d'en obtenir plus.
Voulu par Discourse, ou bug Discourse ?

[2016-12-18 14:58] jmarcmod opened #81 "Ajouter aux messages une ID fixe"
Si les messages avaient une ID fixe (et non l'ID du sujet réceptacle + n° d'ordre), les liens vers les messages seraient pérennes même après déplacements.

[2016-12-18 15:00] jmarcmod opened #82 "Chronologie des messages déplacés"
Si on déplace des messages dans une autre discussion (nouvelle ou pas), les messages se rangent dans l'ordre des déplacements, et non dans l'ordre chronologique.

**Bug Discourse, à leur faire remonter ?**

[2016-12-18 15:01] jmarcmod opened #83 "Boutons texte sousligné / barré"
Les balises BBcode pour sousligner ou barrer fonctionnent, mais il faudrait des boutons dédiés.

**A chercher dans les plugins de Discourse ?**

[2016-12-19 11:49] desnoes opened #84 "Color contrast (forum): citation in a message"
Feedback from a daltonian: it is difficult to distinguish between the background of the message and the citation. The 2 colors (withe and grey) are too close in the color spectrum. More constrast color is required.
![contrast forum](https://cloud.githubusercontent.com/assets/19892089/21311832/8f717916-c5e9-11e6-80da-2cf5bf1b59f3.jpg)

[2016-12-20 15:27] arnaud-morvan commented on #70
Quelqu'un avait semble-t'il bloqué l'url de l'un des serveur HAProxy, dans Forum / Admin / Journaux / IP surveillées.
Conséquence il était devenu impossible de se logger à travers ce proxy (ceci ne semble avoir aucune incidence sur la lecture des post, le blocage se fait sur l'authentification de l'utilisateur).

@mfournier : As-tu des infos sur le transfert de l'IP du client au travers du HAProxy

[2016-12-20 16:55] mfournier commented on #70
On Tue, Dec 20, 2016 at 07:27:36AM -0800, Arnaud Morvan wrote:

Arf... Merci pour le debuggage !

Oui, c'est le sujet de #66.

[2016-12-20 17:00] mfournier commented on #70
@jmarcmod on te laisse passer l'info auprès de l'équipe des modérateurs ? Tant que #66 n'est pas résolu, ne pas se baser sur les adresses IP. Sinon ça casse l'authentification.

[2016-12-20 17:00] #70 closed, assigned to nobody

[2016-12-20 22:10] jmarcmod commented on #70
Bravo pour le débogage !
@arnaud-morvan et @mfournier : personne à ma connaissance n'a suivi les IP récemment, on sait depuis plus d'une semaine que ce sont celles du serveur et donc que ça ne sert à rien.
Je me demande plutôt si le pb ne vient pas d'un modo qui a supprimé il y a 5 jours un utilisateur spammeur (ce qu'il ne faut absolument pas faire, mais il ne devait pas le savoir), or la suppres

[2016-12-20 22:56] jmarcmod opened #85 "Empêcher la suppression d'un utilisateur"
Dans Discourse, il est possible de supprimer un utilisateur (bouton rouge en bas à droite de la page admin du profil utilisateur).
Cette action est dangereuse (conflit avec le compte c2c, corruption de la base, dommages collatéraux sur les IP...)
Il faudrait désactiver ce bouton (accessible aux modos).

Idem sans doute avec le bouton "désactive le compte" (qui oblige l'utilisateur à revalider son

[2016-12-21 11:15] jmarcmod commented on #70
Après enquête, discourse a bloqué un 1er post, pour suspicion de spam, demandant d'accepter ou de refuser le message ; le modo a refusé... sans se douter que discourse supprimerait alors de facto l'utilisateur !
Super dangereux cette fonctionnalité...

[2016-12-22 16:52] jmarcmod commented on #58
Cette issue est-elle encore d'actualité ?
Plus personne n'a reçu de résumé d'activité du forum depuis le 6 décembre (donc avant mise en prod).

[2016-12-22 16:55] #58 closed, assigned to nobody

[2016-12-22 16:56] stef74 commented on #83
Oui

[2016-12-22 16:57] stef74 commented on #81
Il s agit de changer le fonctionnement de discourse ... ce n est pas du tout une idée

[2016-12-22 17:48] jmarcmod commented on #81
Si, c'est une idée à suggérer à Discourse, pour de prochaines MAJ... sans grand espoir il est vrai, sauf si plusieurs gros sites comme c2c se manifestent.
C'est LE gros point faible de Discourse !

[2016-12-23 06:40] jmarcmod opened #86 "Liste du groupe Association à masquer"
Conformément aux souhaits de l'Association, la liste de ses adhérents doit restée masquée, y compris pour les adhérents eu-mêmes.
Actuellement, un adhérent peut accéder à une telle liste via son profil développé :
`https://forum.camptocamp.org/users/pseudo/summary`
et le lien "groupe **Association**" :
`https://forum.camptocamp.org/groups/association`
Il faudrait désactiver le lien dans le profil

[2016-12-23 07:18] jmarcmod opened #87 "Bug dans la recherche utilisateurs en mode admin"
Dans la page admin >utilisateurs :
https://forum.camptocamp.org/admin/users/list/active
lors d'une recherche, un retour arrière puis en avant via le navigateur n'efface pas le pseudo du champ recherche, alors qu'il remet à zéro les résultats, ce qui est incohérent ; et pour rechercher à nouveau sur ce pseudo, il faut l'effacer et le retaper.
Il faudrait que le pseudo soit effacé du champ ; ou que

[2016-12-23 07:24] jmarcmod opened #88 "Modification de post sur smartphone"
Sur smartphone, lorsque qu'on publie un post, on se retrouve bien sur son post ; mais lorsqu'on le modifie, on se retrouve un peu n'importe où, loin avant son post.

**Bug Discourse à leur faire remonter ?**

[2016-12-23 07:32] jmarcmod opened #89 "Vote modifiable dans les sondages"
Dans les sondages, on peut revoter pour modifier son choix ; on peut donc tenir compte des résultats partiels. Un tel principe de fonctionnement n'est pas compatible avec les votes de l'Association.
Il faudrait, au moins en option, pouvoir bloquer le vote.

[2016-12-27 12:03] #61 closed, assigned to nobody

[2016-12-27 12:04] #20 closed, assigned to nobody

[2016-12-27 14:08] stef74 commented on #62
@mfournier have you discuss with @fbunoz ?

[2016-12-27 14:10] stef74 commented on #49
@arnaud-morvan remaining work on this topic ?

[2016-12-27 16:37] desnoes commented on #69
A fusionner avec #54 ?

[2016-12-27 17:46] jmarcmod commented on #69
En fait #69 est déjà contenu dans #54 ; j'avais séparé les 2 demandes, car l'une est triviale (celle-ci la 69, qui était le n°2 de la 54 : c'est un lien unique, facile à implanter), alors que l'autre (n°1 de la 54) exige d'aller chercher le compte topoguide, ce qui d'après Alex ne semblait pas trivial.
L'idée est que si on ne peut pas tout de suite coder la plus difficile, on peut déjà s'occuper d

[2016-12-28 11:36] desnoes commented on #41
@mgerbaux : the bug has been fixed or is it still there ?

[2016-12-29 21:36] mfournier commented on #62
I set this up just now. I wasn't able to test much by myself, but observation seems to show it works well.

@fbunoz FYI I finally settled for `replies@camptocamp.org` as many emails were already sent by discourse with this address in the reply-to field.

[2016-12-29 21:36] #62 closed, assigned to mfournier

[2017-01-03 14:38] arnaud-morvan commented on #49
Oui, les balises images, telles que citées plus haut ne sont pas traitées dans la partie forum.

[2017-01-04 09:42] arnaud-morvan commented on #68
This may be due that the title field is not required for images, the link text is the document title and this one seems to have no title.
We may use the link or ID as text for no title images.

[2017-01-04 11:46] arnaud-morvan opened #90 "Conflicts between users"
Le compte Sam_le_Pirate (topo : Jean Luc Laborie / email : jean-luc-laborie@orange.fr) est bugué : profil public inaccessible, on n'a que le profil admin :
https://forum.camptocamp.org/admin/users/10095/sam_le_pirate
Profil topo : https://www.camptocamp.org/profiles/10196/fr

A côté, il y a le compte vide samlepirate (topo : samlepirate / email : samuel.breton@orange.fr)
https://forum.camptocamp.o

[2017-01-04 11:48] arnaud-morvan commented on #90
Effectivement, nous avons écrasé les "username" dans le forum, mais cela n'était pas suffisant.
Il faut aussi mettre à jour les tables "annexes" aux utilisateurs.
Il faut donc utiliser l'ORM de discourse pour ré-écraser le username, en passant par un username intermédiaire, pour s'assurer que la modification soit répercutée.

[2017-01-04 12:55] arnaud-morvan commented on #90
J'ai créé un script pour synchroniser par SSO tous les utilisateurs :
https://github.com/c2corg/v6_api/compare/master...amorvan_sync_usernames

Sur la démo, il semble qu'il faille prévoir 4h de traitement.

[2017-01-05 14:10] arnaud-morvan commented on #68
We have set the link content to ``/images/<document_id>/<lang>`` in that case (no title).
There should be other image topics with no content link created during migration.

[2017-01-09 09:38] #46 closed, assigned to nobody

[2017-01-09 11:53] fbunoz opened #91 "Upgrade Discourse"
A new stabilized version of Discourse has been released : 1.7.0.
We can update the c2c Discourse instance to this version.
Be careful, it exists already a version 1.8.0 beta.

The new features and bug fix are listed here : https://meta.discourse.org/t/discourse-version-1-7/41842

[2017-01-10 09:58] asaunier commented on #46
@stef74 Are you sure this issue could be closed? As far as I know, Google Analytics is not enabled in the forum. It seems possible though.
@fbunoz do you confirm?

[2017-01-11 14:23] fbunoz opened #92 "Error 503 on server"
There are often some 503 error on the forum. The service come back after 20-60s.

I was be able to generate 503 error on demand, by searching all topics without responses. But after 5-6 errors, the search returns results without 503 errors.

The request : /search?q=posts_count%3A1+order%3Alatest&_=1484142023932
Add https://forum.camptocamp.org add the begining of the url (I don't want to publish t

[2017-01-11 19:28] jmarcmod commented on #75
En fait ça marche. Il y a dû y avoir un bug temporaire de Discourse.
Je ferme l'issue.

[2017-01-11 19:28] #75 closed, assigned to nobody

[2017-01-16 12:45] arnaud-morvan commented on #67
Concerning the html/css customisations
I've removed some trailing white spaces and saved changes. "Outings" link now appears on the left menu.

[2017-01-16 12:49] arnaud-morvan commented on #67
Concerning the email subject
* I've added a trailing whitespace, saved and sent a test email to myself, but the email subject is still contains the site title (not [c2c]).
* I've put the string "c2c" in setting "email prefix (Le [label] qui sera utilisé dans le sujet des courriels. Par défaut il prend la valeur de 'title'.), saved and sent a test email to my self. Now the email subject is: "[c2c]

[2017-01-16 12:52] arnaud-morvan commented on #67
Now we should regularly look at the left menu to see if the Outings entry disapear, and when ? Is this can be matched with some background job.

[2017-01-16 13:13] jmarcmod commented on #67
Pour l'instant ça tient.
Je vais essayer de surveiller.

[2017-01-16 15:16] fbunoz commented on #67
Now, if we reload a forum page, the outing menu entry is not visible anymore, neither the design changes (your HTML change had also set the new design (one column with avatars in topics list)).

[2017-01-16 15:25] jmarcmod commented on #67
Je confirme, ça a sauté.

[2017-01-18 07:35] arnaud-morvan commented on #52
Nous avons corrigé la plupart des liens internes au forum.
Les liens avec des "+" n'ont pas été pris en compte.

[2017-01-18 14:32] arnaud-morvan commented on #67
Nous avons redémarré le conteneur discourse, le menu semble stable cette fois. A suivre ...

[2017-01-18 21:11] fbunoz commented on #67
En effet, ça n'a toujours pas sauté !

[2017-01-19 12:00] jmarcmod commented on #52
Sur la version de prod ? j'ai fait peu de tests (pas le temps), mais sur une dizaine de cas, les liens étaient toujours cassés (avec ou sans "vêti")

Dommage, mais ceci dit ça concerne surtout les forums privés modos/assoce, donc moins grave.

[2017-01-19 12:01] jmarcmod commented on #67
Et ça tient toujours !

[2017-01-19 15:09] desnoes commented on #67
@fbunoz and @jmarcmod: can we close the issue ?

[2017-01-19 16:02] jmarcmod commented on #67
J'attendrais encore demain soir, pour être sûr que ça ne va pas sauter à nouveau.

[2017-01-20 10:39] arnaud-morvan commented on #90
@fbunoz @jmarcmod

J'ai tenté d'exécuter mon script sur la base de démo, mais j'ai rencontré un nouveau problème.

A savoir, lors du premier login, discourse cherche l'utilisateur par son email, puis stocke en base l'identifiant topoguide de l'utilisateur.

Certains utilisateurs ont changé leur email entre la migration du forum et du topoguide.
Lorsque ces utilisateurs se sont identifiés la premiè

[2017-01-20 10:44] arnaud-morvan commented on #90
Voici une aperçu qui nous retourne 10 lignes .
3 comptes seulement sont dupliqués.
[code]

   id   |   forum_username    |             email              | old_id |    old_username     |              old_email              | new_id | new_username |          new_email
--------+---------------------+--------------------------------+--------+---------------------+-------------------------------------

[2017-01-20 13:32] arnaud-morvan commented on #90
L'essai s'est bien déroulé sur la démo.
J'ai changé le owner des posts,
j'ai supprimé les utilisateurs,
et le script sync_sso est en cours ...

[2017-01-20 19:56] jmarcmod commented on #90
Je suis un peu largué par tout ça, et n'ai pas le temps d'aller vérifier ces comptes sur la démo.
@fbunoz tu peux jeter un œil ?

[2017-01-24 12:50] arnaud-morvan commented on #90
Comme ca c'est bien déroulé sur la démo, je prévoie de faire la manip prochainement (cette semaine) sur la prod.
Eventuellement on pourrai également envoyer un mail au 3 utilisateurs concerné pour les prévenir que nous sommes intervenus sur leurs posts.

[2017-01-25 07:06] desnoes commented on #67
@jmarcmod @fbunoz : la config tient toujours ? Si oui, je ferme l'issue

[2017-01-25 10:24] jmarcmod commented on #67
Oui, elle tient !
Tu peux fermer.

[2017-01-25 10:26] jmarcmod commented on #90
Super !
Je peux me charger des mails, mais que faut-il leur dire exactement ?

[2017-01-25 10:39] #67 closed, assigned to nobody

[2017-01-26 09:51] arnaud-morvan commented on #90
Les utilisateurs concernés sont :

pvantiel / pvantiel1  - pvtiel@gmail.com
alex_buisse / alex_buisse_2 - public@alexbuisse.com
rabbits / rabbits1 - florian.daubarede@outlook.fr
tsan / tsan1 - thibaut.com@yahoo.com

Ces utilisateurs ayant à priori changé leur adresse email entre les deux migrations (forum / topoguide), lorsqu'ils se sont loggués, le système SSO leur a créé un nouveau compte dans l

[2017-01-26 10:12] jmarcmod commented on #90
OK je m'en chargerai.

[2017-01-26 12:31] arnaud-morvan commented on #90
A noter, concernant "tsan", j'ai réussi tant bien que mal a basculer ses messages privés (en brute sur la base, pas possible par l'interface).
[code]

[2017-01-27 10:43] jmarcmod commented on #90
4 mails envoyés.

[2017-01-27 15:55] arnaud-morvan commented on #90
Le traitement sync_sso s'est bien terminé, à part un forbidden sur marjenn et fifadelia.
Le problème initial semble bien réglé :
https://forum.camptocamp.org/admin/users/10095/sam_le_pirate
https://forum.camptocamp.org/users/sam_le_pirate/activity
https://forum.camptocamp.org/admin/users/31070/samlepirate
https://forum.camptocamp.org/users/samlepirate/activity

[2017-02-09 15:57] arnaud-morvan commented on #90
Tout les problème semblent réglés, je pense que nous pouvons fermer le ticket.

[2017-02-09 16:02] arnaud-morvan commented on #52
J'ai testé les lien donnés dans la description du ticket, ils fonctionnent tous.

[2017-02-09 16:06] #90 closed, assigned to nobody

[2017-02-11 09:10] jmarcmod commented on #90
Good job !
Plusieurs membres nous remercient pour la récupération d'un compte désormais fonctionnel.

[2017-02-11 09:20] jmarcmod commented on #52
Après de nouveaux tests, effectivement, la plupart des liens sont corrigés en prod.
Pour le reste, on corrigera à la main.
Bravo !
J'ai fermé l'issue.

[2017-02-11 09:20] #52 closed, assigned to nobody

[2017-02-14 14:47] #41 closed, assigned to ginold

[2017-03-27 06:57] mfournier commented on #92
This was due to the still unresolved issue with our redis setup. I had to reboot the machine more or less at the time you were experiencing this problem.

So closing this issue, at it's transient and unrelated to discourse itself.

[2017-03-27 06:57] #92 closed, assigned to nobody

[2017-04-15 13:22] cbeauchesne opened #93 "Access-Control-Allow-Origin on API"
Bonjour,

Je crois que vous n'avez pas déclaré de Access-Control-Allow-Origin sur le serveur, du coup, l'API n'est pas utilisable en mode partagé. Si ce n'est pas volontaire, ça serait possible de l'ouvrir?

Pour tester, faites simplement l'url suivante : https://forum.camptocamp.org/top.json
Ca marche dans le navigateur, mais pas si vous requetez depuis un site via ajax.

[2017-05-31 12:53] mfournier opened #94 "store uploads on S3"

[2017-05-31 12:54] mfournier opened #95 "healthcheck tuning"

[2017-05-31 13:15] mfournier opened #96 "pull logs into ELK"

[2017-05-31 13:19] arnaud-morvan opened #97 "Update the README install procedure"
Get a clear install procedure for demo and prod servers.

[2017-06-21 21:52] mfournier opened #98 "enable CORS"
cf https://meta.discourse.org/t/how-to-enable-cross-origin-resource-sharing-with-docker/15413 or https://github.com/discourse/discourse/blob/master/config/initializers/008-rack-cors.rb

[2017-09-15 19:49] asaunier opened #99 "Frequent unexpected logouts in Discourse"
It seems people are frequently logged out from Discourse whereas they are still authenticated in the guidebook part of the website.

Perhaps a hint: I have the feeling it's not that frequent when always using the same device rather than when being authenticated on several devices (eg. several computers) at the same time?

[2017-09-18 08:30] asaunier commented on #93
Duplicate of https://github.com/c2corg/v6_forum/issues/98

[2017-09-18 08:30] #93 closed, assigned to nobody

[2017-09-18 08:31] asaunier commented on #98
Would it be possible to find a solution for this issue soon?
We need it to show the last forum topics in the homepage, see the PR about the new layout here https://github.com/c2corg/v6_ui/pull/1783

[2017-09-19 13:05] asaunier commented on #98
According to https://meta.discourse.org/t/how-to-enable-cross-origin-resource-sharing-with-docker/15413/3
[code]
in app.yml

[2017-09-19 14:28] arnaud-morvan commented on #98
C'est normalement déjà configuré pour les commentaires dans https://forum.camptocamp.org/admin/customize/embedding, mais uniquement pour la catégorie commentaires.

[2017-09-20 07:54] asaunier commented on #99
I'm pretty sure the unexpected logouts are related to the use of several devices to visit the forum. I think I remain authenticated when using the same computer for a few days (eg. during WE). But for instance if I log in on my laptop at home, I am really often logged out when using my PC at the office, and vice versa.

Edit: that's for sure: it is not possible to be authenticated in Discourse on

[2017-09-20 12:56] asaunier commented on #91
In prod we currently use version 1.6.7
@mfournier has upgraded Discourse in the demo a few weeks/months ago to version 1.8.1

The upgraded forum on the demo seems to work except that user authenticating no longer works: a user authenticated in the guidebook is not authenticated in discourse and trying to log in from Discourse causes an "unknown error".
=> there is probably something broken about t

[2017-09-20 13:50] asaunier commented on #91
As observed by @fbunoz it is possible to authenticate in the forum of the demo by making sure the authentication page, that the forum's login button redirects to, is in http, not https.

Then I have been able to authenticate successfully both form the UI or the forum and remain authenticated in Discourse.

On the other if I make sure to always use https pages (both in UI and Discourse), I still ge

[2017-09-20 14:01] asaunier commented on #91
Perhaps that's because of some hard-coded http/https URL either in the demo Discourse admin or in the API config. In the demo API ``docker-compose.yml`` file I see:
[code]

It seems we had the same problem before upgrading Discourse => than it might be OK with the prod?

[2017-09-21 10:03] arnaud-morvan commented on #91
I've just logged in on demov6 forum, everythings go fine except that the certificate is not accepted by the browser.
Authentication on discourse is done by an iframe in guidebook after login, so if the request fails because of an unaccepted certificate, you do not get cookie in forum space.
Try to accept forum certificate before logging in.

@mfournier : is it possible to get a correct certificate

[2017-09-21 10:56] arnaud-morvan commented on #98
I also see a setting named `cors origin` in admin part of Discourse, with this description :

Requêtes cross-origin (CORS) autorisées. Chaque origine doit inclure http:// ou https://. la variable d'environnement DISCOURSE_ENABLE_CORS doit être renseignée à true pour activer CORS.

I cannot connect anymore to demov6 Discourse server, so I cannot access the `app.yml` file.

[2017-09-21 15:01] fjacon commented on #98
@mfournier could you give access for Arnaud to demov6 discourse server ?

[2017-10-02 12:02] arnaud-morvan commented on #98
On demov6 forum server : discourse.exoscale.infra.camptocamp.org,
in file /var/discourse/containers/demov6_discourse.yml,
in section `env`, I've added this line :
[code]
and rebuilt discourse container :
[code]
CORS are now enabled on the demov6 discourse server.

[2017-10-03 11:35] ghost commented on #98
Hi,

CORS are enable it's cool ! We can access to the api from another website thx !

But, for another project we need to embed the forum into an other website with a iframe and we have this error :
Load denied by X-Frame-Options: https://forum.demov6.camptocamp.org/ does not permit cross-origin framing.

The solution might be : https://meta.discourse.org/t/embedded-comments-not-displayed-due-to-x

[2017-10-03 12:07] arnaud-morvan commented on #98
CORS are enabled on the forum, but only for www.camptocamp.org.
Concerning embedding comments in an iframe, in another website, forum administrators needs to add in https://forum.camptocamp.org/admin/customize/embedding the other domain with corresponding categories.

[2017-10-03 12:24] ghost commented on #98
It's not ok for us, we need to embed the entire forum to respect the ask not only a category, sorry :/

[2017-10-03 13:14] fjacon commented on #98
@Courgetteandratatouille I dont see the problem. There is no restriction on category in what @arnaud-morvan mentioned in https://github.com/c2corg/v6_forum/issues/98#issuecomment-333821905.
You have to check with forum admin

[2017-10-03 13:23] ghost commented on #98
I already check the admin and i know the embed system.

We does'nt need to embed the content of the forum, we need embed *totally* the forum, with all feature not juste a fake window.

Then, we need to include the forum with an iframe, and for that, the web server must have the good config.

[2017-10-04 07:17] mfournier commented on #98
This `X-Frame-Options` header is a Ruby on Rails default: http://guides.rubyonrails.org/security.html#default-headers

By editing /var/www/discourse/config/application.rb I was able to change it:
[code]

Can you confirm this works for your need @Courgetteandratatouille ? If it does, I'll find a way to make the change persistant in the installer.

NB: these defaults are there for a purpose, same fo

[2017-10-04 07:24] ghost commented on #98
Great ! It's works thank you @mfournier :)

You're right, a list of website are better, but for the mobile app we need to have * :/, the only other solution that we know is to have a intermediate url on an authorize url who get only the forum's portrait with the * in the headers.

[2017-10-04 08:01] stef74 commented on #98
For me authorize all is not a good idée in Term of security.

An other thing x frame option is deprecated... Now we have to use CSP (
content security policy)

Le mer. 4 oct. 2017 à 09:24, Nicolas Michel <notifications@github.com> a
écrit :

--
Sent from Gmail Mobile

[2017-10-08 09:37] mfournier commented on #91
upgraded to latest stable (1.8.8) just now.

[2017-10-08 09:37] #91 closed, assigned to nobody

[2017-10-08 09:38] #66 closed, assigned to mfournier

[2017-10-08 09:38] #95 closed, assigned to mfournier

[2017-10-08 21:26] #96 closed, assigned to mfournier

[2017-10-10 16:58] mfournier commented on #98
[code]

[2017-10-10 16:58] #98 closed, assigned to mfournier

[2017-11-15 15:01] arnaud-morvan commented on #99
I see that there is a parameter in discouse admin:
[code]
which is checked.

We should give it a chance.

[2017-11-15 15:05] asaunier commented on #99
@fbunoz What do you think?

[2017-11-15 15:08] arnaud-morvan commented on #99
We should try to reproduce with this parameter unchecked.

[2017-11-15 16:26] fbunoz commented on #99
Arnaud has right.
I unchecked this parameter.

But before changing it, I could be authenticated in Discourse on several devices at the same time, by logging in one by one.
It was just when I logged out : I was logged out on all the devices.

[2017-11-22 20:33] asaunier commented on #99
The new setting seems to have fixed the problem => closing the issue.
Perhaps we have another problem though if the session is not closed on all devices when logging out from one device (I think the API session is closed on all devices). But that's another issue.

[2017-11-22 20:33] #99 closed, assigned to nobody